<div class="grid px-3 mt-1 mb-5" style="border-bottom: 1px solid #ccc;">
  <div class="col-2 pr-3">
    <app-list-project-member (addNewMember)="isShowAddMember = true" [projectId]="project.id"
      [isMyProject]="project.extraProperties.relationWithProject == 0"></app-list-project-member>
    <app-list-project-member-invite
      *ngIf="project.extraProperties.relationWithProject == 0" [projectId]="project.id"></app-list-project-member-invite>
  </div>
  <div class="col-8 center-col">
    <div class="project-info flex flex-column align-items-center relative">
      <button *ngIf="project.extraProperties.relationWithProject == 0" pButton pRipple type="button" icon="pi pi-cog"
        class="top-0 right-0 absolute p-button-rounded p-button-secondary p-button-text"
        (click)="isShowUpdateProject = true"></button>
      <img class="border-round" width="180px" [src]="project.avatarUrl" alt="">
      <h2 class="m-1">{{project.projectName}}</h2>
      <p class="text-center m-1">{{project.description}}</p>
      <span class="flex">
        <span class="flex align-items-center mr-6">
          <i class="pi pi-building"></i>
          <p>{{getArea(project.area)}}</p>
        </span>
        <span class="flex align-items-center">
          <i class="pi pi-chart-line"></i>
          <p>{{getStage(project.stage)}}</p>
        </span>
      </span>
      <span class="flex align-items-center">
        <i class="pi pi-book"></i>
        <p>{{getFields(project.fields)}}</p>
      </span>
      <span class="flex">
        <span class="flex align-items-center mr-6">
          <i class="pi pi-users"></i>
          <p>{{project.extraProperties.memberCount}}</p>
        </span>
        <span class="flex align-items-center">
          <i class="pi pi-money-bill"></i>
          <p>{{project.extraProperties.totalInvesment}}$</p>
        </span>
      </span>
    </div>

    <div class="project-work-space">
      <p-tabView>
        <p-tabPanel header="Lịch">
          <app-project-calendar [projectId]="project.id"></app-project-calendar>
        </p-tabPanel>
        <p-tabPanel header="Thông tin">
          <app-project-event [project]="project"></app-project-event>
        </p-tabPanel>
        <p-tabPanel header="Công việc">
          <app-project-work></app-project-work>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
  <div class="col-2">
    <app-list-project-file [projectId]="project.id"
      [isMyProject]="project.extraProperties.relationWithProject == 0"></app-list-project-file>
  </div>
</div>

<ng-container *ngIf="isShowAddMember">
  <app-list-project-invite-member [display]="isShowAddMember" (close)="isShowAddMember = false" [projectId]="project.id"
    #listFile></app-list-project-invite-member>
</ng-container>


<ng-container *ngIf="isShowUpdateProject">
  <app-update-project [display]="isShowUpdateProject" (close)="isShowUpdateProject = false" [project]="project"
    (changeProjectInfo)="changeProjectInfo($event)"></app-update-project>
</ng-container>
