<div class="flex py-3" style="background-color: #F3F4F6;">
  <div class="flex flex-column w-full h-auto mx-3">
    <div class="h-3rem p-3 w-full border-round-lg border-noround-bottom" style="background-color:#D8DFE8;">
      <span class="text-base font-semibold line-height-1">The Lean Canvas Business Model</span>
    </div>
    <div class="flex flex-column">
      <div class="flex flex-wrap h-auto w-full">
        <ng-container *ngFor="let items of businessModel | slice:0:10;let index = index">
          <div
            class="flex flex-column justify-content-start align-items-center p-2 w-custom-responsive h-auto border-custom border-1 bg-white"
            style="min-height: 3rem;">
            <div class="h-auto">
              <span class="font-semibold">{{items.title}}</span>
            </div>
            <ng-container *ngFor="let item of items.content;let indexItem = index;let isLast= last, let isFirst=first">
              <div :key="index"
                class="container-canvas relative flex h-auto w-full border-round-md my-2 p-2 text-black-alpha-90 shadow-10"
                [style.background-color]="items.bg" style="padding-right: 1.5rem !important;">
                <div ngDefaultControl class="flex w-full h-auto">
                  {{item.value}}
                </div>

                <div class="function-item">
                  <div
                    (click)="op1.toggle($event);itemIndex= indexItem;modelIndex=index;isLastItem=isLast;isFirstItem=isFirst"
                    class=" flex align-items-center justify-content-center absolute bg-gray-200 hover:bg-gray-300 cursor-pointer border-circle"
                    style="top:4px; right: 4px; height: 24px; width: 24px;">
                    <i class="pi pi-ellipsis-h text-gray-500 hover:text-gray-700"></i>
                  </div>
                </div>
              </div>
            </ng-container>
            <div class="w-auto flex mt-2">
              <button *ngIf="isNewContent!==index" (click)="isNewContent=index" pButton type="button" icon="pi pi-plus"
                class="p-button-text p-button-plain" label="Thêm nội dung"></button>
              <ng-container *ngIf="isNewContent===index">
                <textarea pInputTextarea (blur)="handleUpdate()" (keydown)="handleKeyDown($event)" [(ngModel)]="value"
                  [rows]="2" [pAutoFocus]="true"></textarea>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </div>
      <div class="flex flex-wrap h-auto w-full">
        <ng-container *ngFor="let items of businessModel | slice:10:12;let index = index">
          <div
            class="flex flex-column justify-content-start align-items-center p-2 w-12 md:w-6 h-auto border-custom border-1 bg-white"
            style="min-height: 3rem;">
            <span class="font-semibold">{{items.title}}</span>
            <ng-container *ngFor="let item of items.content;let indexItem = index;let isLast= last, let isFirst=first">
              <div
                class="container-canvas relative flex h-auto w-full border-round-md my-2 p-2 text-black-alpha-90 shadow-10"
                [style.background-color]="items.bg" style="padding-right: 1.5rem !important;">
                <div class="flex w-full h-auto">
                  {{item.value}}
                </div>
                <div class="function-item">
                  <div
                    (click)="op1.toggle($event);itemIndex= indexItem;modelIndex=index;isLastItem=isLast;isFirstItem=isFirst"
                    class=" flex align-items-center justify-content-center absolute bg-gray-200 hover:bg-gray-300 cursor-pointer border-circle"
                    style="top:4px; right: 4px; height: 24px; width: 24px;">
                    <i class="pi pi-ellipsis-h text-gray-500 hover:text-gray-700"></i>
                  </div>
                </div>
              </div>
            </ng-container>
            <div class="w-auto flex mt-2">
              <button *ngIf="isNewContent!==index+10" (click)="isNewContent=index+10" pButton type="button"
                icon="pi pi-plus" class="p-button-text p-button-plain" label="Thêm nội dung"></button>
              <ng-container *ngIf="isNewContent===index+10">
                <textarea pInputTextarea (blur)="handleUpdate()" (keydown)="handleKeyDown($event)" [(ngModel)]="value"
                  [rows]="2" [pAutoFocus]="true"></textarea>
              </ng-container>
            </div>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <p-overlayPanel [showTransitionOptions]="'100ms'" [hideTransitionOptions]="'100ms'" #op1 [dismissable]="true">
    <ng-template pTemplate>
      <div class="flex flex-column p-2">
        <div *ngIf="!isFirstItem" (click)="op1.hide();;moveUp()"
          class="container-notification flex align-items-center h-2rem justify-content-start cursor-pointer border-round px-2 py-1 hover:text-primary">
          <i class="pi pi-arrow-up mr-2 text-xs"></i>
          <p class="text-xs my-0">Chuyển lên trên</p>
        </div>
        <div *ngIf="!isLastItem" (click)="op1.hide();moveDown()"
          class="container-notification flex align-items-center h-2rem justify-content-start cursor-pointer border-round px-2 py-1 hover:text-primary">
          <i class="pi pi-arrow-down mr-2 text-xs"></i>
          <p class="text-xs my-0">Chuyển xuống dưới</p>
        </div>
        <div (click)="op1.hide();handleShowEditItem()"
          class="container-notification flex align-items-center h-2rem justify-content-start cursor-pointer border-round px-2 py-1 hover:text-primary">
          <i class="pi pi-pencil mr-2 text-xs"></i>
          <p class="text-xs my-0">Sửa</p>
        </div>
        <div (click)="op1.hide();handleDelete()"
          class="container-notification flex align-items-center h-2rem justify-content-start cursor-pointer border-round px-2 py-1 hover:text-red-500">
          <i class="pi pi-trash mr-2 text-xs"></i>
          <p class="text-xs my-0 text-red-600">Xóa</p>
        </div>
      </div>
    </ng-template>
  </p-overlayPanel>
  <p-dialog header="Sửa" [(visible)]="isShowEditItem">
    <ng-template pTemplate="header">
      Sửa
    </ng-template>
    <ng-template pTemplate>
      <div class="flex flex-column">
        <textarea pInputTextarea (blur)="handleUpdate()" (keydown)="handleKeyDown($event)" [(ngModel)]="value"
          [rows]="2" [pAutoFocus]="true"></textarea>
      </div>
    </ng-template>
    <ng-template pTemplate="footer">
      <button pButton type="button" label="Lưu" class="p-button-sm font-normal" (click)="handleEditItem()"></button>
      <button pButton type="button" label="Đóng" class="p-button-outlined p-button-secondary" (click)="isShowEditItem=false"></button>

    </ng-template>

  </p-dialog>
</div>