<div class="flex py-3" style="background-color: #F3F4F6;">
  <div class="flex flex-column w-full h-auto mx-3">
    <div class="h-3rem p-3 w-full border-round-lg border-noround-bottom" style="background-color:#D8DFE8;">
      <span class="text-base font-semibold line-height-1">The Lean Canvas Business Model</span>
    </div>
    <div class="flex flex-column">
      <div class="flex flex-wrap h-auto w-full">
        <div
          class="flex flex-column justify-content-start align-items-center p-2 w-20 h-auto border-custom border-1 bg-white"
          style="min-height: 3rem;">
          <span class="font-semibold">Problem</span>
          <div class="h-auto w-full border-round-md my-2 p-2 text-black-alpha-90 shadow-10"
            style="background-color: #FEC56F;">
            Người nông dân gặp khó khăn trong việc tìm nguồn ra cho sản phẩm
          </div>
          <div class="w-auto">
            <button pButton type="button" icon="pi pi-plus" class="p-button-text p-button-secondary"
              label="Thêm nội dung"></button>
          </div>
        </div>
        <div
          class="flex flex-column justify-content-start align-items-center p-2 w-20 h-auto border-custom border-1 bg-white"
          style="min-height: 3rem;">
          <span class="font-semibold">Problem</span>
          <div class="h-auto w-full border-round-md my-2 p-2 text-black-alpha-90 shadow-10"
            style="background-color: #FEEE6F;">
            Người nông dân gặp khó khăn trong việc tìm nguồn ra cho sản phẩm
          </div>
          <div class="w-auto">
            <button pButton type="button" icon="pi pi-plus" class="p-button-text p-button-secondary"
              label="Thêm nội dung"></button>
          </div>
        </div>
        <div
          class="flex flex-column justify-content-start align-items-center p-2 w-20 h-auto border-custom border-1 bg-white"
          style="min-height: 3rem;">
          <span class="font-semibold">Problem</span>
          <div class="h-auto w-full border-round-md my-2 p-2 text-black-alpha-90 shadow-10"
            style="background-color: #C8FE6F;">
            Người nông dân gặp khó khăn trong việc tìm nguồn ra cho sản phẩm
          </div>
          <div class="w-auto">
            <button pButton type="button" icon="pi pi-plus" class="p-button-text p-button-secondary"
              label="Thêm nội dung"></button>
          </div>
        </div>
        <div
          class="flex flex-column justify-content-start align-items-center p-2 w-20 h-auto border-custom border-1 bg-white"
          style="min-height: 3rem;">
          <span class="font-semibold">Problem</span>
          <div class="h-auto w-full border-round-md my-2 p-2 text-black-alpha-90 shadow-10"
            style="background-color: #6FFEA8;">
            Người nông dân gặp khó khăn trong việc tìm nguồn ra cho sản phẩm
          </div>
          <div class="w-auto">
            <button pButton type="button" icon="pi pi-plus" class="p-button-text p-button-secondary"
              label="Thêm nội dung"></button>
          </div>
        </div>
        <div
          class="flex flex-column justify-content-start align-items-center p-2 w-20 h-auto border-custom border-1 bg-white"
          style="min-height: 3rem;">
          <span class="font-semibold">Problem</span>
          <div class="h-auto w-full border-round-md my-2 p-2 text-black-alpha-90 shadow-10"
            style="background-color: #6FF5FE;">
            Người nông dân gặp khó khăn trong việc tìm nguồn ra cho sản phẩm
          </div>
          <div class="w-auto">
            <button pButton type="button" icon="pi pi-plus" class="p-button-text p-button-secondary"
              label="Thêm nội dung"></button>
          </div>
        </div>
        <div
          class="flex flex-column justify-content-start align-items-center p-2 w-20 h-auto border-custom border-1 bg-white"
          style="min-height: 3rem;">
          <span class="font-semibold">Problem</span>
          <div class="h-auto w-full border-round-md my-2 p-2 text-black-alpha-90 shadow-10"
            style="background-color: #6FF5FE;">
            Người nông dân gặp khó khăn trong việc tìm nguồn ra cho sản phẩm
          </div>
          <div class="w-auto">
            <button pButton type="button" icon="pi pi-plus" class="p-button-text p-button-secondary"
              label="Thêm nội dung"></button>
          </div>
        </div>
        <div
          class="flex flex-column justify-content-start align-items-center p-2 w-20 h-auto border-custom border-1 bg-white"
          style="min-height: 3rem;">
          <span class="font-semibold">Problem</span>
          <div class="h-auto w-full border-round-md my-2 p-2 text-black-alpha-90 shadow-10"
            style="background-color: #6FFEA8;">
            Người nông dân gặp khó khăn trong việc tìm nguồn ra cho sản phẩm
          </div>
          <div class="w-auto">
            <button pButton type="button" icon="pi pi-plus" class="p-button-text p-button-secondary"
              label="Thêm nội dung"></button>
          </div>
        </div>
        <div
          class="flex flex-column justify-content-start align-items-center p-2 w-20 h-auto border-custom border-1 bg-white"
          style="min-height: 3rem;">
          <span class="font-semibold">Problem</span>
          <div class="h-auto w-full border-round-md my-2 p-2 text-black-alpha-90 shadow-10"
            style="background-color: #C8FE6F;">
            Người nông dân gặp khó khăn trong việc tìm nguồn ra cho sản phẩm
          </div>
          <div class="w-auto">
            <button pButton type="button" icon="pi pi-plus" class="p-button-text p-button-secondary"
              label="Thêm nội dung"></button>
          </div>
        </div>
        <div
          class="flex flex-column justify-content-start align-items-center p-2 w-20 h-auto border-custom border-1 bg-white"
          style="min-height: 3rem;">
          <span class="font-semibold">Problem</span>
          <div class="h-auto w-full border-round-md my-2 p-2 text-black-alpha-90 shadow-10"
            style="background-color: #FEEE6F;">
            Người nông dân gặp khó khăn trong việc tìm nguồn ra cho sản phẩm
          </div>
          <div class="w-auto">
            <button pButton type="button" icon="pi pi-plus" class="p-button-text p-button-secondary text"
              label="Thêm nội dung"></button>
          </div>
        </div>
        <div
          class="flex flex-column justify-content-start align-items-center p-2 w-20 h-auto border-custom border-1 bg-white"
          style="min-height: 3rem;">
          <span class="font-semibold">Problem</span>
          <div class="h-auto w-full border-round-md my-2 p-2 text-black-alpha-90 shadow-10"
            style="background-color: #FEC56F;">
            Người nông dân gặp khó khăn trong việc tìm nguồn ra cho sản phẩm
          </div>
          <div class="h-auto w-full border-round-md my-2 p-2 text-black-alpha-90 shadow-10"
            style="background-color: #FEC56F;">
            Người nông dân gặp khó khăn trong việc tìm nguồn ra cho sản phẩm
          </div>
          <div class="w-auto">
            <button pButton type="button" icon="pi pi-plus" class="p-button-text p-button-secondary"
              label="Thêm nội dung"></button>
          </div>
        </div>
      </div>
      <div class="flex flex-wrap h-auto w-full">
        <div
          class="flex flex-column justify-content-start align-items-center p-2 w-6 h-auto border-custom border-1 bg-white"
          style="min-height: 3rem;">
          <span class="font-semibold">Problem</span>
          <div class="h-auto w-full border-round-md my-2 p-2 text-black-alpha-90 shadow-10"
            style="background-color: #FEC56F;">
            Người nông dân gặp khó khăn trong việc tìm nguồn ra cho sản phẩm
          </div>
          <div class="w-auto">
            <button pButton type="button" icon="pi pi-plus" class="p-button-text p-button-secondary"
              label="Thêm nội dung"></button>
          </div>
        </div>
        <div
          class="flex flex-column justify-content-start align-items-center p-2 w-6 h-auto border-custom border-1 bg-white"
          style="min-height: 3rem;">
          <span class="font-semibold">Problem</span>
          <div class="h-auto w-full border-round-md my-2 p-2 text-black-alpha-90 shadow-10"
            style="background-color: #6FF5FE;">
            Người nông dân gặp khó khăn trong việc tìm nguồn ra cho sản phẩm
          </div>
          <div class="w-auto">
            <button pButton type="button" icon="pi pi-plus" class="p-button-text p-button-secondary"
              label="Thêm nội dung"></button>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>