.w-20{
    width: 20% !important;
}
.shadow-10{
    box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.35);
}
.border-custom{
    border: 0.5px solid #D8DFE8;
}
.function-item{
    display: none;
}
.container-canvas:hover .function-item {
    display: block;
  }