.header-img {
  height: 83px;
}

.page {
  background-color: #ffffff;
  padding: 5px;
}

.profile .logo {
  border-radius: 50%;
}

.info {
  margin-left: 5%;
}

ul {
  list-style: none;
  line-height: 2;
  margin: 0;
  padding: 0;
}

.info .name {
  font-size: 1.2rem;
  font-weight: 700;
}

.change-style {
  margin-top: 80px;
}

.color-text {
  color: #01a9ff;
}

.logo {
  top: 45%;
  left: 5%;
  width: 150px;
}

@media (max-width: 576px) {
  .logo {
    top: 70%;
    left: 5%;
    width: 90px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .logo {
    top: 70%;
    left: 5%;
    width: 90px;
  }
}
