<app-header [menuData]="menus"></app-header>

<router-outlet></router-outlet>

<div class="body-content" style="padding-left: 15%; padding-right: 15%; padding-top: 12px">
  <div class="page">
    <div class="profile relative mb-3">
      <div class="flex relative">
        <div class="flex" style="
            background-image: url('../../../assets/img/qcao.png');
            width: 100%;
          ">
          <div class="bg-right-bottom bg-no-repeat w-10rem h-10rem border-round">
            <img class="logo absolute" style="top: 60%; left: 24px" [src]="
                startuperInfo.avatarUrl ??
                '../../../../../assets/img/blankavatar.jpg'
              " width="120px" />
          </div>
        </div>
      </div>
      <div *ngIf="userId == userInfo.nameid" class="flex mt-2" style="justify-content: flex-end">
        <p-button (click)="editProfile()">Chỉnh sửa hồ sơ</p-button>
      </div>
    </div>
    <div class="info" [ngClass]="{ 'change-style': isChangeStyle }">
      <div style="border-bottom: 1px solid #d8dfe8; padding-left: 8px">
        <ul>
          <li>
            <div class="name">{{ startuperInfo.name }}</div>
          </li>
          <li>
            {{ startuperInfo.describe }}
          </li>
          <li *ngIf="startuperInfo.purpose">
            <img src="../../../../assets/icons/Search.svg" alt="" class="mr-1"/>
            {{ getPurpose(startuperInfo.purpose) }}
          </li>
          <li *ngIf="userInfo.job == '1'">
            <img src="../../../../assets/icons/University.svg" alt=""  class="mr-1"/>
            {{ startuperInfo.university }}
          </li>
          <li>
            <img src="../../../../assets/icons/Calendar.svg" alt=""  class="mr-1"/>
            {{ getDate(startuperInfo.dateOfBirth) }}
          </li>
          <li>
            <img src="../../../../assets/icons/Positon.svg" alt="" class="mr-1"/>
            {{ getArea(startuperInfo.location) }}
          </li>
          <!-- <li>
            <svg width="13" height="13" viewBox="0 0 13 13" fill="none" xmlns="http://www.w3.org/2000/svg"
              style="margin-right: 4px">
              <path
                d="M10.3995 13C10.3995 7.29462 5.70538 2.6 0 2.6V0C7.13104 0 13 5.86896 13 13H10.3995ZM1.78262 9.43313C2.76521 9.43313 3.56633 10.2342 3.56633 11.2179C3.56633 12.2 2.76196 13 1.77829 13C0.79625 13 0 12.2016 0 11.2179C0 10.2342 0.798958 9.43367 1.78262 9.43313ZM8.61738 13H6.0905C6.0905 9.65846 3.34154 6.90896 0 6.90896V4.38208C4.72712 4.38208 8.61738 8.27342 8.61738 13Z"
                fill="black" />
            </svg>
            Có 1000 người theo dõi
          </li> -->
        </ul>
      </div>
      <p-tabView>
        <p-tabPanel [header]="headerName" *ngIf="startuperInfo.purpose != 0">
          <ul>
            <li *ngIf="startuperInfo.purpose == 1">
              <p>
                <b>Lĩnh vực của ý tưởng: </b>
              </p>
              <span>
                <p-tag *ngFor="
                    let _ideaField of getFields(
                      startuperInfo.ideaField ?? []
                    )
                  " [value]="_ideaField"></p-tag>
              </span>
            </li>
            <li *ngIf="startuperInfo.purpose == 1">
              <p-divider align="center">
                <b>Tôi cần tìm cộng sự có:</b>
              </p-divider>
              <p>
                <b>Kỹ năng chuyên môn: </b>
              </p>
              <span>
                <p-tag *ngFor="
                    let targetSpecialize of getSpecializies(
                      startuperInfo.targetSpecialize ?? []
                    )
                  " [value]="targetSpecialize"></p-tag>
              </span>
            </li>
            <li *ngIf="startuperInfo.purpose == 1">
              <p>
                <b>Điểm cộng kỹ năng mềm: </b>
              </p>
              <span>
                <p-tag *ngFor="
                    let requestSkill of getSkills(
                      startuperInfo.requestSkill ?? []
                    )
                  " [value]="requestSkill"></p-tag>
              </span>
            </li>
            <li *ngIf="startuperInfo.purpose == 1">
              <p>
                <b>Điểm cộng tính cách: </b>
              </p>
              <span>
                <p-tag *ngFor="
                    let requestPersonality of getPersonalities(
                      startuperInfo.requestPersonality ?? []
                    )
                  " [value]="requestPersonality"></p-tag>
              </span>
            </li>
            <li *ngIf="startuperInfo.purpose == 2">
              <p>
                <b>Lĩnh vực của ý tưởng: </b>
              </p>
              <span>
                <p-tag *ngFor="
                    let targetField of getTargetField(
                      startuperInfo.targetField ?? []
                    )
                  " [value]="targetField"></p-tag>
              </span>
            </li>
            <li *ngIf="startuperInfo.purpose == 4">
              <p>
                <b>Lĩnh vực của dự án: </b>
              </p>
              <span>
                <p-tag *ngFor="
                    let targetField of getTargetField(
                      startuperInfo.targetField ?? []
                    )
                  " [value]="targetField"></p-tag>
              </span>
            </li>
            <div *ngIf="startuperInfo.purpose == 3">
              <div *ngFor="let item of listProject; let i = index"
                class="flex justify-content-between flex-wrap history-search">
                <div class="flex align-items-center justify-content-center m-2">
                  <img class="image-history" [src]="
                      item.project.avatarUrl ??
                      'https://fsiconnected.cloud/images/default-avatar.jpg'
                    " alt="" width="100px" style="border-radius: 50%" />
                  <div class="flex align-items-center justify-content-center ml-2">
                    <ul>
                      <li>
                        <b><span>Tên dự án: </span> </b>
                        <span>{{ item.project.projectName }}</span>
                      </li>
                      <li>
                        <b><span>Mô tả dự án: </span> </b>
                        <span>{{ item.project.description }}</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </ul>
        </p-tabPanel>
        <p-tabPanel header="Giới thiệu bản thân">
          <ul class="ml-1" style="padding: 0px !important">
            <li class="flex flex-column">
              <span class="ml-1">
                <b>Kỹ năng chuyên môn: </b>
              </span>
              <span>
                <p-tag *ngFor="
                    let specialize of getSpecializies(
                      startuperInfo.specialize ?? [])" [value]="specialize"></p-tag>
              </span>
            </li>
            <li class="flex flex-column">
              <span class="ml-1">
                <b>Kỹ năng mềm nổi bật: </b>
              </span>
              <span>
                <ng-container *ngFor="
                    let personality of getSkills(startuperInfo.skill ?? [])
                  ">
                  <p-tag [value]="personality"></p-tag>
                </ng-container>
              </span>
            </li>
            <li class="flex flex-column">
              <span class="ml-1">
                <b>Tính cách nổi bật: </b>
              </span>
              <span>
                <ng-container *ngFor="
                    let personality of getPersonalities(
                      startuperInfo.personality ?? []
                    )
                  ">
                  <p-tag [value]="personality"></p-tag>
                </ng-container>
              </span>
            </li>
            <li class="flex flex-column">
              <span class="ml-1">
                <b>Thời gian khả dụng: </b>
              </span>
              <span>
                <p-tag :value="{{ getAvailableTime(startuperInfo.availableTime) }}" ></p-tag>
              </span>
            </li>

            <li *ngIf="startuperInfo.job == 1" class="flex flex-column">
              <span class="ml-1">
                <b>Học vấn: </b>
              </span>
            </li>
            <li *ngIf="startuperInfo.job == 1" class="flex flex-column">
              <span class="ml-1">
                <i class="pi pi-building mr-1"></i>
                <b> Trường học: </b> {{ startuperInfo.university }}
              </span>
            </li>
            <li *ngIf="startuperInfo.job == 1" class="flex flex-column">
              <span class="ml-1">
                <i class="pi pi-briefcase mr-1"></i>
                <b> Ngành học: </b> {{ startuperInfo.universitySpecialized }}
              </span>
            </li>
            <li>
              <span class="ml-1">
                <b>Kinh nghiệm làm việc: </b>
                <span *ngIf="listWork.length == 0">Không có</span>
              </span>
              <p *ngFor="let item of listWork; let i = index">
                <span class="color-text">{{ item.position }}</span> tại
                <span class="color-text">{{ item.name }}</span>
                <span *ngIf="item.start || item.end" style="display: flex; margin-bottom: 3px">{{ getDate(item.start) }}
                  - {{ getDate(item.end) }}</span>
              </p>
            </li>
            <li>
              <span class="ml-1">
                <b>Hoạt động xã hội: </b>
                <span *ngIf="startuperInfo.activity; else invalidName">{{
                  startuperInfo.activity
                  }}</span>
              </span>
            </li>
            <li>
              <span class="ml-1">
                <b>Chứng chỉ thành tích: </b>
                <span *ngIf="startuperInfo.certificateAndAward; else invalidName">{{ startuperInfo.certificateAndAward
                  }}</span>
                <ng-template #invalidName> Không có </ng-template>
              </span>
            </li>
          </ul>
        </p-tabPanel>
        <p-tabPanel header="Bài viết">
          <p>Bài viết.</p>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
</div>
<ng-container *ngIf="isShowUpdateInfo">
  <app-update-user-info [display]="isShowUpdateInfo" (close)="closeModal()"></app-update-user-info>
</ng-container>
<p-dialog [resizable]="true" header="Thông báo" [(visible)]="display" [modal]="true" [style]="{width: '40vw'}"
  [breakpoints]="{'960px': '75vw', '640px': '100vw'}" [baseZIndex]="10000" [draggable]="false">
  Thông tin của bạn chưa đầy đủ, vui lòng cập nhật đầy đủ thông tin trước khi sử dụng các tính năng khác.
  <ng-template pTemplate="footer">
    <p-button label="Cập nhật" class="p-button-sm font-normal" (onClick)="display=false; isShowUpdateInfo=true">
    </p-button>
  </ng-template>
</p-dialog>