<app-header [menuData]="menus"></app-header>

<img src="../../../assets/img/qcao.png" width="100%" class="header-img" />

<router-outlet></router-outlet>
<div class="body-content" style="padding-left: 15%; padding-right: 15%">
  <div class="page">
    <div class="profile relative mb-3">
      <div class="flex relative">
        <div
          class="flex"
          style="
            background-image: url('../../../assets/img/qcao.png');
            width: 100%;
          "
        >
          <div
            class="bg-right-bottom bg-no-repeat w-10rem h-10rem border-round"
          >
            <img
              class="logo absolute"
              [src]="
                startuperInfo.avatarUrl ??
                'https://fsiconnected.cloud/images/default-avatar.jpg'
              "
            />
          </div>
        </div>
      </div>
      <div
        *ngIf="userId == userInfo.nameid"
        class="flex mt-2"
        style="justify-content: flex-end"
      >
        <p-button (click)="editProfile()">Chỉnh sửa hồ sơ</p-button>
      </div>
    </div>
    <div class="info" [ngClass]="{ 'change-style': isChangeStyle }">
      <div class="mb-3">
        <ul>
          <li>
            <div class="name">{{ startuperInfo.name }}</div>
          </li>
          <li>{{ startuperInfo.describe }}</li>
          <li>
            <i class="pi pi-search"></i> {{ getPurpose(startuperInfo.purpose) }}
          </li>
          <li>
            <i class="pi pi-calendar"></i>
            {{ getDate(startuperInfo.dateOfBirth) }}
          </li>
          <li>
            <i class="pi pi-map-marker"></i>
            {{ getArea(startuperInfo.location) }}
          </li>
          <li><i class="pi pi-thumbs-up"></i> Có 1000 người theo dõi</li>
          <li><i class="pi pi-clock"></i> Tham gia vào tháng 8 2023</li>
        </ul>
      </div>
      <p-tabView>
        <p-tabPanel [header]="headerName" *ngIf="startuperInfo.purpose != 0">
          <p *ngIf="startuperInfo.purpose == 1">
            <b>Kỹ năng chuyên môn: </b>
            <span>
              <p-tag
                *ngFor="
                  let targetSpecialize of getSpecializies(
                    startuperInfo.targetSpecialize ?? []
                  )
                "
                [value]="targetSpecialize"
                styleClass="mr-1 mt-1"
              ></p-tag>
            </span>
          </p>
          <p *ngIf="startuperInfo.purpose == 1">
            <b>Điểm cộng kỹ năng mềm: </b>
            <span>
              <p-tag
                *ngFor="
                  let requestSkill of getSkills(
                    startuperInfo.requestSkill ?? []
                  )
                "
                [value]="requestSkill"
                styleClass="mr-1 mt-1"
              ></p-tag>
            </span>
          </p>
          <p *ngIf="startuperInfo.purpose == 1">
            <b>Điểm cộng tính cách: </b>
            <span>
              <p-tag
                *ngFor="
                  let requestPersonality of getPersonalities(
                    startuperInfo.requestPersonality ?? []
                  )
                "
                [value]="requestPersonality"
                styleClass="mr-1 mt-1"
              ></p-tag>
            </span>
          </p>
          <p *ngIf="startuperInfo.purpose == 2">
            <b>Lĩnh vực của ý tưởng: </b>
            <span>
              <p-tag
                *ngFor="
                  let targetField of getTargetField(
                    startuperInfo.targetField ?? []
                  )
                "
                [value]="targetField"
                styleClass="mr-1 mt-1"
              ></p-tag>
            </span>
          </p>
          <p *ngIf="startuperInfo.purpose == 4">
            <b>Lĩnh vực của dự án: </b>
            <span>
              <p-tag
                *ngFor="
                  let targetField of getTargetField(
                    startuperInfo.targetField ?? []
                  )
                "
                [value]="targetField"
                styleClass="mr-1 mt-1"
              ></p-tag>
            </span>
          </p>
        </p-tabPanel>
        <p-tabPanel header="Giới thiệu bản thân">
          <p>
            <b>Kỹ năng chuyên môn: </b>
            <span>
              <p-tag
                *ngFor="
                  let specialize of getSpecializies(
                    startuperInfo.specialize ?? []
                  )
                "
                [value]="specialize"
                styleClass="mr-1 mt-1"
              ></p-tag>
            </span>
          </p>
          <p>
            <b>Kỹ năng mềm nổi bật: </b>
            <span>
              <ng-container
                *ngFor="let personality of getSkills(startuperInfo.skill ?? [])"
              >
                <p-tag [value]="personality" styleClass="mr-1 mt-1"></p-tag>
              </ng-container>
            </span>
          </p>
          <p>
            <b>Tính cách nổi bật: </b>
            <span>
              <ng-container
                *ngFor="
                  let personality of getPersonalities(
                    startuperInfo.personality ?? []
                  )
                "
              >
                <p-tag [value]="personality" styleClass="mr-1 mt-1"></p-tag>
              </ng-container>
            </span>
          </p>
          <p>
            <b>Thời gian khả dụng: </b>
            <span>
              <p-tag
                :value="{{ getAvailableTime(startuperInfo.availableTime) }}"
                class="ml-1"
              ></p-tag>
            </span>
          </p>
          <p *ngIf="startuperInfo.job == 1">
            <b>Học vấn: </b>
          </p>
          <p *ngIf="startuperInfo.job == 1">
            <i class="pi pi-building mr-1"></i>
            <b> Trường học: </b> {{ startuperInfo.university }}
          </p>
          <p *ngIf="startuperInfo.job == 1">
            <i class="pi pi-briefcase mr-1"></i>
            <b> Ngành học: </b> {{ startuperInfo.universitySpecialized }}
          </p>
          <p>
            <b>Kinh nghiệm làm việc: </b>
            <span *ngIf="listWork.length == 0">Không có</span>
          </p>
          <p *ngFor="let item of listWork; let i = index">
            <span class="color-text">{{ item.position }}</span> tại
            <span class="color-text">{{ item.name }}</span>
            <span
              *ngIf="item.start || item.end"
              style="display: flex; margin-bottom: 3px"
              >{{ getDate(item.start) }} - {{ getDate(item.end) }}</span
            >
          </p>
          <p>
            <b>Hoạt động xã hội: </b>
            <span *ngIf="startuperInfo.activity; else invalidName">{{
              startuperInfo.activity
            }}</span>
          </p>
          <p>
            <b>Chứng chỉ thành tích: </b>
            <span *ngIf="startuperInfo.certificateAndAward; else invalidName">{{
              startuperInfo.certificateAndAward
            }}</span>
            <ng-template #invalidName> Không có </ng-template>
          </p>
        </p-tabPanel>
        <p-tabPanel header="Bài viết">
          <p>Bài viết.</p>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
</div>
<ng-container *ngIf="isShowUpdateInfo">
  <app-update-user-info
    [display]="isShowUpdateInfo"
    (close)="closeModal()"
  ></app-update-user-info>
</ng-container>
