<div class="container-information flex flex-column overflow-y-scroll h-full-without-header">
  <div class="container-info-chat flex flex-column">
    <div class="w-full flex flex-column align-items-center justify-content-center mt-3">
      <p-avatar size="xlarge" shape="circle"
        [image]="'https://scontent.fhan2-3.fna.fbcdn.net/v/t39.30808-1/356431598_1719331301848920_5923863853146486687_n.jpg?stp=c0.7.100.100a_dst-jpg_p100x100&_nc_cat=106&ccb=1-7&_nc_sid=5740b7&_nc_ohc=mbiY9ziDdY0AX-i7xyJ&_nc_ad=z-m&_nc_cid=0&_nc_ht=scontent.fhan2-3.fna&oh=00_AfAqgmtJNCuH0-776Tmmv-V4ATIx1jERW1Q3Wr5xksSnng&oe=659A5602'"
        class="mr-3"></p-avatar>
      <span class="text-base font-semibold mt-1">Văn hiếu nguyễn</span>
      <span class="text-xs text-gray-600">Hoạt động 7 phút trước</span>
    </div>
  </div>
  <div class="container-function flex justify-content-center mt-3">
    <div class="flex flex-column align-items-center p-2">
      <div
        class="flex align-items-center justify-content-center cursor-pointer border-circle bg-gray-300 w-2rem h-2rem">
        <i class="pi pi-user"></i>
      </div>
      <span class="text-xs text-gray-600">Trang cá nhân</span>
    </div>
    <div class="flex flex-column align-items-center p-2">
      <div
        class="flex align-items-center justify-content-center cursor-pointer border-circle bg-gray-300 w-2rem h-2rem">
        <i class="pi pi-bell"></i>
      </div>
      <span class="text-xs text-gray-600">Tắt thông báo</span>
    </div>
  </div>
  <div class="container-media p-2">
    <p-accordion [multiple]="true">
      <p-accordionTab header="Ảnh/Video">
        <div class="grid m-0">
          <ng-container *ngFor="let item of items">
            <div class="col-3 p-1">
              <p-image [src]="item.avatar" alt="Image" width="100%" height="100%" [preview]="true"></p-image>
            </div>
          </ng-container>
        </div>
      </p-accordionTab>
      <p-accordionTab header="File">
        <div class="grid m-0">
          <ng-container *ngFor="let item of items">
            <div class="col-3 p-1">
              <p-image [src]="item.avatar" alt="Image" width="100%" height="100%"></p-image>
            </div>
          </ng-container>
        </div>
      </p-accordionTab>
      <p-accordionTab header="Liên kết">

      </p-accordionTab>
    </p-accordion>
  </div>
</div>