.p-accordion .p-accordion-header .p-accordion-header-link {
    padding: 0.5rem;
    border: 1px solid #dee2e6;
    color: #6c757d;
    background: #f8f9fa;
    font-weight: 700;
    border-radius: 6px;
    transition: box-shadow 0.2s;
}
.p-accordion .p-accordion-content {
    padding: .5rem;
    border: 1px solid #dee2e6;
    background: #ffffff;
    color: #495057;
    border-top: 0;
    border-top-right-radius: 0;
    border-top-left-radius: 0;
    border-bottom-right-radius: 6px;
    border-bottom-left-radius: 6px;
}
.h-full-without-header {
    height: calc(100vh - 90px);
  }
.back-icon{
    top: 4px;
    cursor: pointer;
    left: 0;
}
.back-icon:hover{
    color: #3B82F6;
}
.last-title {
    width:100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
}