<div class="chat-container w-full px-0" style="border-bottom: 1px solid #ccc;">
  <div style="" class="conversation-box flex-column pl-2 md:w-min md:max-w-24rem lg:w-max"
    [ngClass]="[(thisConversation && isMobile) ? 'hidden hide-conversation-box' : 'flex  show-conversation-box w-full']">
    <div class="conversation-header grid pl-1">
      <div class="col-12 flex justify-content-between align-items-center">
        <span class="text-xl font-semibold p-2">Đoạn chat</span>
        <button pButton pRipple type="button" icon="fa fa-pen-to-square"
          class="p-button-rounded p-button-secondary p-button-text" (click)="isVisibleAddConversation = true"></button>
      </div>
      <div class="col-12 flex justify-content-between align-items-center px-2 py-0">
        <span class="p-input-icon-left col-12 pr-0 pt-0">
          <i class="pi pi-search pl-2 pb-3"></i>
          <input type="text" pInputText class="p-inputtext-sm w-full custom-input" placeholder="Tìm kiếm"
            [(ngModel)]="conversationFilter" (keyup.enter)="getListConversation()">
        </span>

      </div>
      <div class="col-12 pl-3 flex">
        <button pButton pRipple type="button" label="Tất cả"
          [ngClass]="{'p-button-outlined p-button-sm m-1 btn-new-padding w-5rem text-xs': true,'p-button-secondary': conversationType!= 0}"
          (click)="conversationType=0;getListConversation()"></button>
        <button pButton pRipple type="button" label="Lưu trữ"
          [ngClass]="{'p-button-outlined p-button-sm m-1 btn-new-padding w-5rem text-xs': true,'p-button-secondary': conversationType!= 1}"
          (click)="conversationType=1;getListConversation()"></button>
        <button pButton pRipple type="button" label="Đang chờ"
          [ngClass]="{'p-button-outlined p-button-sm m-1 btn-new-padding w-5rem text-xs' : true,'p-button-secondary': conversationType!= 2}"
          (click)="conversationType=2;getListConversation()"></button>
      </div>

    </div>
    <div class="conversation-list grid">
      <div class="list-wrapper col-12 px-0 h-auto align-items-start justify-content-start">
        <ng-container *ngIf="conversations && conversations.length !== 0">
          <ng-container *ngFor="let conversation of conversations">
            <div class="" [ngClass]="{'conversation-item flex align-items-center p-2 pl-0': true,
                        'active-conversation': conversation.id == thisConversation?.id,
                        'unread': !conversation.isSeen}" (click)="selectConversation(conversation)">
              <div class="unread-point"></div>
              <p-avatar shape="circle" class="ml-avatar"
                [image]="conversation.conversationAvatar??'https://fsiconnected.cloud/images/default-avatar.jpg'"
                size="large"></p-avatar>
              <div class="flex flex-wrap align-items-center justify-content-between w-full ml-3">
                <div>
                  <h4 class="m-0 mb-1 line-height-1">{{conversation.conversationName}}</h4>
                  <p class="m-0 text-xs conversation-last-message">{{conversation.lastMessage?.content}}</p>
                </div>
                <p class="m-0 mr-3" style="font-size: 12px; text-align: center;">
                  {{getTimeAgo(conversation.lastMessage?.creationTime)}}</p>
              </div>
            </div>
          </ng-container>
        </ng-container>
        <ng-container *ngIf="!conversations || conversations.length === 0">
          <div class="flex justify-content center align-items-center flex-column w-full h-auto">
            <div>
              <p-image src="../../../assets//img/nodata.jpg" alt="Image" width="250"></p-image>
            </div>
            <span>Không có cuộc trò chuyện</span>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div [ngClass]="[((!thisConversation ||isShowInfoBox) && isMobile) ? 'hidden' : 'flex ']"
    class="message-box flex-column justify-content-between w-full">
    <ng-container *ngIf="thisConversation != undefined">
      <div class="message-header px-2 sm:px-3">
        <div class="conversation-info flex align-items-center justify-content-center">
          <i (click)="unmountConversation()" *ngIf="isMobile" class="fa-solid fa-chevron-left mr-2 back-icon"></i>
          <p-avatar (click)="infoConversation()" shape="circle"
            [image]="thisConversation?.conversationAvatar??'https://fsiconnected.cloud/images/default-avatar.jpg'"
            size="large"></p-avatar>
          <h3 (click)="infoConversation()" class="ml-2 text-xs sm:text-sm">{{thisConversation?.conversationName}}</h3>
        </div>
        <div class="flex .align-items-center justify-content-end gap-0 sm:gap-1">
          <div class="other-message-type-item cursor-pointer" pTooltip="Call âm thanh" tooltipPosition="top">
            <i class="fa-solid fa-phone"></i>
          </div>
          <div class="other-message-type-item" pTooltip="Call video" tooltipPosition="top" (click)="callVideo()">
            <i class="fa-solid fa-video"></i>
          </div>
          <div class="other-message-type-item cursor-pointer" [ngClass]="{'btn-active': isShowInfoBox}"
            pTooltip="Thông tin" tooltipPosition="top" (click)="isShowInfoBox = !isShowInfoBox">
            <i class="fa-solid fa-circle-info"></i>
          </div>
        </div>
      </div>
      <div class="message-content h-full " #scrollMe [scrollTop]="scrollMe.scrollHeight">
        <div class="message-wrapper">
          <ng-container *ngFor="let message of messages">
            <div app-message (replyMessage)="handleReplyMessage(message)" [message]="message"
              [ngClass]="{'w-full message-item flex': true, 'justify-content-start' : !message.isMine, 'justify-content-end': message.isMine ,'mt-3':message.showA,'mt-4':(!message.isMine && message.showA && !thisConversation.justTwoPeople)}">
            </div>
          </ng-container>
        </div>
      </div>
      <div class="message-footer max-h-full">
        <div class="other-message-type">
          <input style="display: none;" type="file" name="" id="" #inputFile>
          <button class="emoji-button other-message-type-item relative" pTooltip="Emoji" tooltipPosition="top">
            <i class="fa-regular fa-face-smile"></i>
            <div class="emoji-wrapper absolute" *ngIf="isShowEmoji">
              <emoji-mart [darkMode]="false" [showPreview]="false" (emojiClick)="addEmoji($event)"></emoji-mart>
            </div>
          </button>
          <div class="other-message-type-item" pTooltip="Hình ảnh" tooltipPosition="top" (click)="inputFile.click()">
            <i class="fa-regular fa-images"></i>
          </div>
          <div class="other-message-type-item" pTooltip="Tài liệu" tooltipPosition="top">
            <i class="fa-solid fa-paperclip"></i>
          </div>
        </div>
        <div class="flex flex-column w-full ">
          <div *ngIf="replyMessage"
            class="overflow-y-auto w-auto flex flex-column px-2 ml-2 mt-2 border-left-2 border-primary">
            <div class="flex flex-row justify-content-between pb-1">
              <div class="flex h-auto">
                <div>
                  <i class="fa-solid fa-reply text-gray-500"></i>
                </div>
                <p class="m-0 ml-2 font-italic">Đang trả lời <span
                    class="font-semibold">{{replyMessage.sender?.name}}</span></p>
              </div>
              <div (click)="handleDeleteReplyMessage()" style="width:24px; height: 24px"
                class="hover:bg-gray-200  cursor-pointer hover:text-primary border-circle flex align-items-center justify-content-center">
                <i class="pi pi-times"></i>
              </div>
            </div>
            <p class="reply-message ">{{replyMessage.content}}</p>
          </div>
          <div class="flex flex-row align-items-center">
            <div class="w-full p-2 pb-1 relative">
              <div style="overflow: hidden; background-color: #eaedf3;"
                class="container-input-message border-round-3xl pt-1">
                <textarea style="resize: none; width: 98%; " [(ngModel)]="contentText" [rows]="rows"
                  class="relative custom-textarea h-full border-none border-round-3xl "
                  [ngClass]="{'pt-8' : (files.length > 0)}" (keydown)="handleKeyDown($event)"
                  (keyup)="handleKeyUp($event)" (ngModelChange)="handleChange()" placeholder="Type your message...">
                </textarea>
              </div>
              <div *ngIf="files.length>0" style="width: 95%;"
                class="h-4rem absolute left-0 top-0 ml-2 pl-2 mt-2 overflow-y-auto flex">
                <ng-container *ngFor="let file of files">
                  <div class="bg-gay-300 min-w-max p-1 pt-2">
                    <p-image [src]="file.url" alt="Image" width="100%" height="100%"></p-image>
                  </div>
                </ng-container>
              </div>
            </div>
            <div *ngIf="!contentText" class="other-message-type-item" pTooltip="Gửi lượt thích" tooltipPosition="top"
              style="width: 48px; height: 48px; font-size: 27px; color: #3B82F6;" (click)="sendLike()">
              <i class="fa-solid fa-thumbs-up"></i>
            </div>
            <div *ngIf="contentText" class="other-message-type-item" pTooltip="Enter để gửi" tooltipPosition="top"
              style="width: 48px; height: 48px; font-size: 27px;color: #3B82F6;" (click)="send()">
              <i class="fa-solid fa-paper-plane"></i>
            </div>
          </div>
        </div>
      </div>
      <app-video-call [visible]="isVisibleCall" (close)="isVisibleCall = false" [conversationId]="thisConversation.id"
        [remoteUser]="thisConversation?.conversationName"></app-video-call>
    </ng-container>
    <ng-container *ngIf="thisConversation == undefined">
      <h2 style="margin-left: 50%; margin-top: 27%; transform: translate( -38% , 0 );">Hãy chọn một đoạn chat hoặc bắt
        đầu cuộc trò chuyện mới</h2>
    </ng-container>
  </div>
  <div [ngClass]="[(isShowInfoBox && isMobile) ? 'w-100 w-full' : 'nw-0', (isShowInfoBox && !isMobile)? 'w-25' : 'w-0']"
    class="infomation-box">
    <ng-container *ngIf="thisConversation != undefined && isShowInfoBox">
      <app-information-box (close)="isShowInfoBox=false" [isMobile]="isMobile"
        [conversation]="thisConversation"></app-information-box>
    </ng-container>
  </div>
</div>


<p-toast position="top-left" key="newMessage"></p-toast>


<ng-container *ngIf="isVisibleAddConversation">
  <app-add-conversation [visible]="isVisibleAddConversation" (close)="isVisibleAddConversation = false"
    (addSuccess)="addConversationSuccess($event)"></app-add-conversation>
</ng-container>

<ng-container *ngIf="isVisibleUpdateConversation">
  <app-update-conversation [visible]="isVisibleUpdateConversation" [conversation]="thisConversation"
    (close)="isVisibleUpdateConversation = false"
    (updateSuccess)="updateConversationSuccess($event)"></app-update-conversation>
</ng-container>