<div class="chat-container px-3 mb-5" style="border-bottom: 1px solid #ccc; height: calc(100vh - 90px);">
  <div class="conversation-box">
    <div class="conversation-header">
      <div class="flex w-full justify-content-between align-items-center ">
        <span class="p-input-icon-left mr-2">
          <i class="pi pi-search" style="top: 22px;"></i>
          <input type="text" pInputText class="p-inputtext-sm" placeholder="Tìm kiếm" style="width: 270px;"
            [(ngModel)]="conversationFilter" (keyup.enter)="getListConversation()">
        </span>
        <button pButton pRipple type="button" icon="fa fa-pen-to-square"
          class="p-button-rounded p-button-secondary p-button-text" (click)="isVisibleAddConversation = true"></button>
      </div>
      <div class="w-full flex mt-2">
        <button pButton pRipple type="button" label="Tất cả"
          [ngClass]="{'p-button-outlined p-button-sm mr-3': true,'p-button-secondary': conversationType!= 0}"
          (click)="conversationType=0;getListConversation()"></button>
        <button pButton pRipple type="button" label="Lưu trữ"
          [ngClass]="{'p-button-outlined p-button-sm mr-3': true,'p-button-secondary': conversationType!= 1}"
          (click)="conversationType=1;getListConversation()"></button>
        <button pButton pRipple type="button" label="Đang chờ"
          [ngClass]="{'p-button-outlined p-button-sm': true,'p-button-secondary': conversationType!= 2}"
          (click)="conversationType=2;getListConversation()"></button>
      </div>

    </div>
    <div class="conversation-list">
      <div class="list-wrapper w-full h-auto  flex flex-column align-items-start justify-content-start">
        <ng-container *ngFor="let conversation of conversations">
          <div [ngClass]="{'conversation-item flex align-items-center p-2': true,
                        'active-conversation': conversation.id == thisConversation?.id,
                        'unread': !conversation.isSeen}" (click)="selectConversation(conversation)">
            <div class="unread-point"></div>
            <p-avatar shape="circle"
              [image]="conversation.conversationAvatar??'https://fsiconnected.cloud/images/default-avatar.jpg'"
              size="large"></p-avatar>
            <div class="conversation-preview-info">
              <h4>{{conversation.conversationName}}</h4>
              <p>{{conversation.lastMessage?.content}}</p>
            </div>
            <p style="font-size: 12px; text-align: center;">{{getTimeAgo(conversation.lastMessage?.creationTime)}}</p>
          </div>
        </ng-container>
      </div>
    </div>
  </div>
  <div class="message-box">
    <ng-container *ngIf="thisConversation != undefined">
      <div class="message-header px-3">
        <div class="conversation-info flex align-items-center justify-content-center" (click)="infoConversation()">
          <p-avatar shape="circle" [image]="thisConversation?.conversationAvatar??'https://fsiconnected.cloud/images/default-avatar.jpg'" size="large"></p-avatar>
          <h3 class="ml-2">{{thisConversation?.conversationName}}</h3>
        </div>
        <div class="flex .align-items-center justify-content-end" style="gap: 10px;">
          <div class="other-message-type-item" pTooltip="Call âm thanh" tooltipPosition="top">
            <i class="fa-solid fa-phone"></i>
          </div>
          <div class="other-message-type-item" pTooltip="Call video" tooltipPosition="top"
            (click)="callVideo()">
            <i class="fa-solid fa-video"></i>
          </div>
        </div>
      </div>
      <div class="message-content pl-5" #scrollMe [scrollTop]="scrollMe.scrollHeight">
        <div class="message-wrapper">
          <ng-container *ngFor="let message of messages">
            <div app-message [message]="message"
              [ngClass]="{'w-full message-item flex': true, 'justify-content-start' : !message.isMine, 'justify-content-end': message.isMine ,'mt-3':message.showA }">
            </div>
          </ng-container>
        </div>
      </div>
      <div class="message-footer">
        <div class="other-message-type">
          <input style="display: none;" type="file" name="" id="" #inputFile>
          <button class="emoji-button other-message-type-item relative" pTooltip="Emoji" tooltipPosition="top">
            <i class="fa-regular fa-face-smile"></i>
            <div class="emoji-wrapper absolute" *ngIf="isShowEmoji">
              <emoji-mart (emojiClick)="addEmoji($event)"></emoji-mart>
            </div>
          </button>
          <div class="other-message-type-item" pTooltip="Hình ảnh" tooltipPosition="top" (click)="inputFile.click()">
            <i class="fa-regular fa-images"></i>
          </div>
          <div class="other-message-type-item" pTooltip="Tài liệu" tooltipPosition="top">
            <i class="fa-solid fa-paperclip"></i>
          </div>
        </div>
        <div class="text-type">
          <input type="text" style="flex-grow: 1;" [(ngModel)]="contentText" placeholder="Nhập tin nhắn ..."
            (keyup.enter)="send()">
          <div *ngIf="!contentText" class="other-message-type-item" pTooltip="Gửi lượt thích" tooltipPosition="top"
            style="width: 48px; height: 48px; font-size: 27px; color: #3B82F6;" (click)="sendLike()">
            <i class="fa-solid fa-thumbs-up"></i>
          </div>
          <div *ngIf="contentText" class="other-message-type-item" pTooltip="Enter để gửi" tooltipPosition="top"
            style="width: 48px; height: 48px; font-size: 27px;color: #3B82F6;" (click)="send()">
            <i class="fa-solid fa-paper-plane"></i>
          </div>
        </div>
      </div>
      <app-video-call [visible]="isVisibleCall" (close)="isVisibleCall = false" [conversationId]="thisConversation.id"
        [remoteUser]="thisConversation?.conversationName"></app-video-call>
    </ng-container>
    <ng-container *ngIf="thisConversation == undefined">
      <h2 style="margin-left: 50%; margin-top: 27%; transform: translate( -38% , 0 );">Hãy chọn một đoạn chat hoặc bắt
        đầu cuộc trò chuyện mới</h2>
    </ng-container>
  </div>
  <div class="infomation-box"></div>
</div>


<p-toast position="top-left" key="newMessage"></p-toast>


<ng-container *ngIf="isVisibleAddConversation">
  <app-add-conversation [visible]="isVisibleAddConversation" (close)="isVisibleAddConversation = false"
    (addSuccess)="addConversationSuccess($event)"></app-add-conversation>
</ng-container>

<ng-container *ngIf="isVisibleUpdateConversation">
  <app-update-conversation [visible]="isVisibleUpdateConversation" [conversation]="thisConversation"
    (close)="isVisibleUpdateConversation = false"
    (updateSuccess)="updateConversationSuccess($event)"></app-update-conversation>
</ng-container>