img.avatar {
  box-shadow: 0px 0px 2px 2px #00000011;
  border-radius: 20px;
}

#avatar {
  height: 93px;
  width: 93px;
  border-radius: 50%;
  padding: 12px;
}

.image-video {
  height: 103px;
  width: 103px;
  border-radius: 17px;
  margin: 12px 6px 6px 6px;
}

.profile .logo {
  border-radius: 50%;
}

.info {
  margin-left: 5%;
  margin-top: 60px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 8px 0px 8px 0px;
}

li {
  margin: 0;
  padding: 0px 0px 8px 0px;
  color: #000000;
}

p {
  margin-bottom: 4px !important;
  margin-left: 12px !important;
  margin-top: 12px !important;
}

.p-tabview-panels {
  padding-top: 0 !important;
}

.info .name {
  font-size: 1.2rem;
  font-weight: 700;
}

.color-text {
  color: #01a9ff;
}

.col-2 {
  padding: 0 !important;
  width: unset !important;
}

.col-10 {
  padding: 0 !important;
}

.grid {
  margin: 0px !important;
}

.p-accordion .p-accordion-content {
  padding: 0px !important;
}
