@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

.header {
	/* background-color: rgb(0, 0, 0); */
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	position: fixed;
	top: 0;
	width: 100%;
	z-index: 999;
    color: white;
	background: linear-gradient(to top, transparent 0%, rgb(0, 0, 0, 0.5) 50%);
}

.header.scrolled {
	background-color: #0b0b0b !important;
}

.header .logoDiv {
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 20px;
}

.header .navigationDiv {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.header .navigationDiv a {
	text-decoration: none;
	position: relative;
}
.header .navigationDiv .underline1::after {
	content: "";
	position: absolute;
	background-color: white;
	height: 3px;
	width: 0;
	left: 0;
	bottom: 0px;
}
.header .navigationDiv .underline1:hover::after {
	width: 100%;
}

.header .navigationDiv .navLink {
	color: white;
	font-weight: 400;
	font-family: "Roboto", sans-serif;
	padding: 30px 10px 30px 10px;
	width: auto;
  min-width: 6rem;
	text-align: center;
}

.header .loginDiv {
	display: flex;
	flex-direction: row;
	align-items: center;
	column-gap: 10px;
}

.header .loginDiv button {
	height: 3.5rem;
	padding: 0px 30px 0px 30px;
	background: none;
	border: none;
	color: white;
	font-size: 1rem;
	font-weight: 400;
	font-family: "Roboto", sans-serif;
	cursor: pointer;
}
.header .loginDiv button:hover {
	background-color: #faa00f;
	border-radius: 10px;
}

.header .navigationDiv .connect {
	display: flex;
	flex-direction: column;
	row-gap: 1.5rem;
	text-align: left;
	position: fixed;
	background-color: white;
	top: 76px;
	width: 10rem;
	z-index: 1;
	border-radius: 5px;
	padding: 1.5rem;
	box-shadow: 1px 2px 4px rgb(0, 0, 0, 0.1);
}
.header .navigationDiv .connect a {
	text-decoration: none;
	color: black;
}
.header .navigationDiv .connect a:hover {
	color: #faa00f;
}
.header .navigationDiv .connect a:hover::after {
	width: 0%;
}
