<div class="relative flex-column message"
  [ngClass]="{'align-items-end': message.isMine,'align-items-start':!message.isMine}">
  <p-avatar *ngIf="!message.isMine && message.showA" [pTooltip]="message.sender.name" tooltipPosition="top"
    shape="circle" [image]="message.sender.avatarUrl ??'https://fsiconnected.cloud/images/default-avatar.jpg'"
    class="message-avatar"></p-avatar>
  <span style="top:-18px" class="absolute left-0 text-xs text-gray-700"
    *ngIf="!message.isMine && message.showA && !message.conversation.justTwoPeople && !message.focusToMessageId">{{message.sender.name}}</span>

  <div class="text-xs text-gray-700 row-1 mt-1" [ngClass]="message.isMine? 'right-0' : 'left-0' "
    *ngIf="message.focusToMessage">
    <i class="fa-solid fa-reply text-gray-500 hover:text-gray-700 mr-2"></i>
    <span>{{message.isMine ?'Bạn đã trả lời chính mình': message.sender.name + 'đã trả lời'}}</span>
  </div>

  <div *ngIf="message.focusToMessage" style="background-color: rgba(0, 0, 0, 0.03)"
    class="container-reply  border-round-xl bg-white shadow-2 text-gray-700"
    [ngClass]="message.isMine ? 'right-0' : 'left-0'">
    {{message.focusToMessage.content??''}}
  </div>
  <ng-container *ngIf="message.type == MessageType.Text">
    <div class="flex flex-column relative" [ngClass]="{'mb-2': message.reacts.length > 0}">
      <p [tooltipPosition]="message.isMine ? 'left' :'right'" [pTooltip]="getDateTime(message.creationTime)"
        [ngClass]="message.isMine ? 'content-message-right align-items-end' : 'content-message-left align-items-start'">
        {{message?.content}}
      </p>

      <div class="container-action">
        <div (click)="op1.toggle($event)" [ngClass]="message.isMine ? 'icon-action-right' :'icon-action-left'"
          class="absolute icon-action top-50 -translateY-50 flex align-items-center justify-content-center cursor-pointer border-circle hover:shadow-2 hover:bg-white ">
          <i class="pi pi-ellipsis-v text-gray-500 hover:text-gray-700"></i>
        </div>
      </div>
      <div class="container-action">
        <div (click)="replyMessage.emit()" [ngClass]="message.isMine ? 'icon-reply-right' :'icon-reply-left'"
          class="absolute icon-action top-50 -translateY-50 flex align-items-center justify-content-center cursor-pointer border-circle hover:shadow-2 hover:bg-white ">
          <i class="fa-solid fa-reply text-gray-500 hover:text-gray-700"></i>
        </div>
      </div>
      <div class="container-action">
        <div (click)="op.toggle($event)" [ngClass]="message.isMine ? 'icon-react-right' :'icon-react-left'"
          class="absolute icon-action top-50 -translateY-50 flex align-items-center justify-content-center cursor-pointer border-circle hover:shadow-2 hover:bg-white ">
          <i class="fa-regular fa-face-smile text-gray-500 hover:text-gray-700"></i>
        </div>
      </div>
      <div *ngIf="message.reacts.length > 0" style="width:20px;height: 20px;"
        class="absolute top-100 -translateY-50 right-0  border-circle bg-white flex justify-content-center align-items-center shadow-2 z-1">
        <div style="height: 100% !important;width: 94% !important;" class="">
          {{getReacts(message.reacts)}}
        </div>
      </div>
      <div class="absolute top-100 w-1rem h-1rem" *ngIf="message.index == message.conversation.lastIndexSeenA"
        [ngClass]="{'top-125':true}" [tooltipPosition]="'top'" [pTooltip]="getDateTimeSeen(message.creationTime)">
        <img [src]="message.conversation.conversationAvatar ??'https://fsiconnected.cloud/images/default-avatar.jpg'"
          class="avatar-custom mt-1">
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="message.type == MessageType.Sticker">
    <span [tooltipPosition]="message.isMine ? 'left' :'right'" [pTooltip]="getDateTime(message.creationTime)">
      <i class="fa-solid fa-thumbs-up" style="font-size: 30px;color: #3B82F6;"
        [ngClass]="message.isMine ? 'content-message-right align-items-end' : 'content-message-left align-items-start'"></i>
    </span>
  </ng-container>
  <p-overlayPanel [showTransitionOptions]="'200ms'" [hideTransitionOptions]="'200ms'" #op [dismissable]="true">
    <ng-template pTemplate>
      <div class="p-2 flex text-xl">
        <ng-container *ngFor="let e of favoriteEmojis">
          <div class="cursor-pointer" (click)="reactMessage(e.value, message.id)">{{e.content}}</div>
        </ng-container>
      </div>
    </ng-template>
  </p-overlayPanel>
  <p-overlayPanel [showTransitionOptions]="'200ms'" [hideTransitionOptions]="'200ms'" #op1 [dismissable]="true">
    <ng-template pTemplate>
      <div class="flex flex-column p-2">
        <div (click)="pinMessage(message)"
          class="container-notification flex align-items-center h-2rem justify-content-start cursor-pointer border-round px-2 py-1">
          <i class="pi pi-paperclip mr-2 text-xs"></i>
          <p class="text-xs my-0">Ghim tin nhắn</p>
        </div>
        <div
          class="container-notification flex align-items-center h-2rem justify-content-start cursor-pointer border-round px-2 py-1">
          <i class="pi pi-trash mr-2 text-xs"></i>
          <p class="text-xs my-0 text-red-600">Xóa</p>
        </div>
      </div>
    </ng-template>
  </p-overlayPanel>
</div>