<div [ngClass]="{'message': true, 'justify-content-start' : !message.isMine , 'justify-content-end': message.isMine}">
  <p-avatar *ngIf="!message.isMine && message.showA" shape="circle"
    [image]="message.sender.avatarUrl ??'https://fsiconnected.cloud/images/default-avatar.jpg'"
    class="message-avatar"></p-avatar>

  <ng-container *ngIf="message.type == MessageType.Text">
    <div class="flex flex-column align-items-end relative">
      <p [tooltipPosition]="message.isMine ? 'left' :'right'" [pTooltip]="getDateTime(message.creationTime)">
        {{message?.content}}
      </p>
      <div class="container-action">
        <div (click)="op1.toggle($event)" [ngClass]="message.isMine ? 'icon-action-right' :'icon-action-left'"
          class="absolute icon-action top-50 -translateY-50 flex align-items-center justify-content-center cursor-pointer border-circle hover:shadow-2 hover:bg-white ">
          <i class="pi pi-ellipsis-v text-gray-500 hover:text-gray-700"></i>
        </div>
      </div>
      <div class="container-action">
        <div (click)="replyMessage.emit()" [ngClass]="message.isMine ? 'icon-reply-right' :'icon-reply-left'"
          class="absolute icon-action top-50 -translateY-50 flex align-items-center justify-content-center cursor-pointer border-circle hover:shadow-2 hover:bg-white ">
          <i class="fa-solid fa-reply text-gray-500 hover:text-gray-700"></i>
        </div>
      </div>
      <div class="container-action">
        <div (click)="op.toggle($event)" [ngClass]="message.isMine ? 'icon-react-right' :'icon-react-left'"
          class="absolute icon-action top-50 -translateY-50 flex align-items-center justify-content-center cursor-pointer border-circle hover:shadow-2 hover:bg-white ">
          <i class="fa-regular fa-face-smile text-gray-500 hover:text-gray-700"></i>
        </div>
      </div>
      <div *ngIf="true" style="width:20px;height: 20px;"
        class="absolute top-100 -translateY-50 right-0  border-circle bg-white flex justify-content-center align-items-center shadow-2 z-1">
        <span>
          😀
        </span>
      </div>
      <div class="absolute top-100 w-1rem h-1rem" *ngIf="message.index == message.conversation.lastIndexSeenA" [ngClass]="{'top-125':true}"
        [tooltipPosition]="'top'" [pTooltip]="getDateTimeSeen(message.creationTime)">
        <img [src]="message.conversation.conversationAvatar ??'https://fsiconnected.cloud/images/default-avatar.jpg'"
          class="avatar-custom mt-1">
      </div>
    </div>
  </ng-container>
  <ng-container *ngIf="message.type == MessageType.Sticker">
    <p [tooltipPosition]="message.isMine ? 'left' :'right'" [pTooltip]="getDateTime(message.creationTime)">
      <i class="fa-solid fa-thumbs-up" style="font-size: 30px;color: #3B82F6;"></i>
    </p>
  </ng-container>
  <p-overlayPanel [showTransitionOptions]="'200ms'" [hideTransitionOptions]="'200ms'" #op [dismissable]="true">
    <ng-template pTemplate>
      <div class="p-2 flex text-xl">
        <ng-container *ngFor="let e of favoriteEmojis">
          <div class="cursor-pointer" (click)="reactMessage(e)">{{e}}</div>
        </ng-container>
      </div>
    </ng-template>
  </p-overlayPanel>
  <p-overlayPanel [showTransitionOptions]="'200ms'" [hideTransitionOptions]="'200ms'" #op1 [dismissable]="true">
    <ng-template pTemplate>
      <div class="flex flex-column p-2">
        <div
          class="container-notification flex align-items-center h-2rem justify-content-start cursor-pointer border-round px-2 py-1">
          <i class="pi pi-paperclip mr-2 text-xs"></i>
          <p class="text-xs my-0">Ghim tin nhắn</p>
        </div>
        <div
          class="container-notification flex align-items-center h-2rem justify-content-start cursor-pointer border-round px-2 py-1">
          <i class="pi pi-trash mr-2 text-xs"></i>
          <p class="text-xs my-0 text-red-600">Xóa</p>
        </div>
      </div>
    </ng-template>
  </p-overlayPanel>
</div>