app-startuper-for-startuper .p-inputtext {
  padding-left: 2.5rem !important;
}

app-startuper-for-startuper h2 {
  margin: 0px !important;
}

app-startuper-for-startuper .col-12 {
  padding: 0px !important;
}

app-startuper-for-startuper .md\:col-10 {
  padding: 0px !important;
}

app-startuper-for-startuper .marginTop {
  margin-bottom: 12px !important;
}

app-startuper-for-startuper .grid {
  margin: 0px 0px 8px 0px !important;
}

app-startuper-for-startuper .p-paginator {
  padding: 0px !important;
}

.hienThi {
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  margin-top: 8px;
}

@media (max-width: 576px) {
}

@media (min-width: 576px) and (max-width: 767px) {
}

@media (min-width: 1820px) {
  .md\:col-4 {
    width: 25%;
  }
}
