<form [formGroup]="formSearch">
  <div class="body-content">
    <div class="search_table">
      <div class="row">
        <div class="form-control search justify-content-center">
          <span class="p-input-icon-left">
            <i class="pi pi-search"></i>
            <input
              type="text"
              pInputText
              placeholder="Tìm kiếm theo từ khóa"
              formControlName="filter"
              (keyup.enter)="submitSearch()"
            />
          </span>
        </div>
        <div class="justify-content-center grid">
          <div class="p-field col-2 md-12 mt-1">
            <span class="p-float-label">
              <p-cascadeSelect
                [options]="mySelects"
                optionLabel="cname"
                optionGroupLabel="name"
                optionValue="code"
                [optionGroupChildren]="['selects']"
                appendTo="body"
                formControlName="mode"
                (ngModelChange)="submitSearch()"
              ></p-cascadeSelect>
              <label></label>
            </span>
          </div>
          <div class="p-field col-2 md-12 mt-1">
            <span class="p-float-label">
              <p-multiSelect
                optionLabel="name"
                optionValue="value"
                appendTo="body"
                [options]="areas"
                optionLabel="name"
                formControlName="areas"
              >
              </p-multiSelect>
              <label>Khu vực</label>
            </span>
          </div>
          <div class="p-field col-2 md-12 mt-1">
            <span class="p-float-label">
              <p-multiSelect
                optionLabel="name"
                optionValue="value"
                appendTo="body"
                [options]="fields"
                optionLabel="name"
                formControlName="fields"
              >
              </p-multiSelect>
              <label>Chuyên môn</label>
            </span>
          </div>
          <div class="p-field col-2 md-12 mt-1">
            <span class="p-float-label">
              <p-multiSelect
                optionLabel="name"
                optionValue="value"
                appendTo="body"
                [options]="skills"
                optionLabel="name"
                formControlName="skills"
              >
              </p-multiSelect>
              <label>Kỹ năng mềm</label>
            </span>
          </div>
          <div class="p-field col-2 md-12 mt-1">
            <span class="p-float-label">
              <p-multiSelect
                optionLabel="name"
                optionValue="value"
                appendTo="body"
                [options]="availableTimes"
                optionLabel="name"
                formControlName="availableTimes"
              >
              </p-multiSelect>
              <label>Thời gian khả dụng</label>
            </span>
          </div>
          <div class="p-field col-2 md-12 mt-1">
            <span class="p-float-label">
              <p-multiSelect
                optionLabel="name"
                optionValue="value"
                appendTo="body"
                [options]="personalities"
                optionLabel="name"
                formControlName="personalities"
              >
              </p-multiSelect>
              <label>Tính cách</label>
            </span>
          </div>
          <div class="p-field col-2 md-12 mt-1">
            <span class="p-float-label">
              <p-multiSelect
                optionLabel="name"
                optionValue="value"
                appendTo="body"
                [options]="yearOfExps"
                optionLabel="name"
                formControlName="yearOfExps"
              >
              </p-multiSelect>
              <label>Năm kinh nghiệm</label>
            </span>
          </div>
          <div class="p-field col-2 md-12 mt-1">
            <div class="flex justify-content-start align-items-center">
              <p-checkbox
                [binary]="true"
                formControlName="isStudent"
              ></p-checkbox>
              <p class="ml-2">Bộ lọc sinh viên</p>
            </div>
          </div>
          <ng-container *ngIf="f['isStudent'].value">
            <div class="p-field col-2 md-12">
              <label class="title">Trường học</label>
              <p-dropdown
                [filter]="true"
                [options]="universities"
                [style]="{ width: '100%' }"
                [autoDisplayFirst]="false"
                formControlName="university"
                (onChange)="changeUniversity($event)"
                optionLabel="name"
                optionValue="value"
              ></p-dropdown>
            </div>
            <div class="p-field col-2 md-12">
              <label class="title">Ngành học</label>
              <p-dropdown
                [filter]="true"
                [options]="universitySpecializeds ?? []"
                [style]="{ width: '100%' }"
                [autoDisplayFirst]="false"
                formControlName="universitySpecialized"
                optionLabel="name"
                optionValue="value"
              ></p-dropdown>
            </div>
          </ng-container>

          <div class="col-2 flex justify-content-center mt-1">
            <p-button icon="pi pi-search" (onClick)="submitSearch()"></p-button>
            <p-button
              class="ml-4"
              icon="pi pi-times"
              (onClick)="clearSearch()"
            ></p-button>
          </div>
        </div>
      </div>
    </div>
    <div class="flex mt-2" style="padding: 10px; justify-content: flex-end">
      <p-button (onClick)="routeToHistorySearch()">Lịch sử tìm kiếm</p-button>
    </div>

    <p-dataView [value]="listStartuper" *ngIf="listStartuper.length > 0">
      <ng-template let-startuper pTemplate="listItem">
        <div class="col-12 md:col-4" style="padding: 30px">
          <app-startuper-item
            [startuper]="startuper"
            [mode]="formSearch.value.mode"
            (acceptFriend)="acceptFriend($event)"
            (requestFriend)="requestFriend($event)"
            (requestFromProject)="requestFromProject($event)"
            (cancelRequestFriend)="cancelRequestFriend($event)"
          ></app-startuper-item>
        </div>
      </ng-template>
    </p-dataView>
    <div class="grid mt-4">
      <div
        class="grid flex justify-content-center"
        style="padding-left: 10%; padding-right: 10%"
      >
        <ng-container *ngIf="listStartuper.length == 0">
          <img
            class="col-8 flex justify-content-center"
            width="50px"
            src="../../../../assets/img/nodata.jpg"
            alt=""
          />
        </ng-container>
      </div>
      <div class="col-12 flex justify-content-center">
        <p-paginator
          [pageLinkSize]="pageSize"
          [rows]="pageSize"
          [totalRecords]="totalRecords"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} nkn"
          [showCurrentPageReport]="true"
          [rowsPerPageOptions]="pageSizeOptions"
          (onPageChange)="onPageChange($event)"
        ></p-paginator>
      </div>
    </div>
  </div>
</form>
