app-startuper-for-startuper .p-inputtext {
  padding-left: 2.5rem !important;
}

app-startuper-for-startuper h2 {
  margin: 0px !important;
}

app-startuper-for-startuper .col-12 {
  padding: 0px !important;
}

app-startuper-for-startuper .md\:col-10 {
  padding: 0px !important;
}

app-startuper-for-startuper .col-8 {
  padding: 0px !important;
}

app-startuper-for-startuper .col-4 {
  padding: 0px !important;
}

app-startuper-for-startuper .md\:col-2 {
  padding: 0px !important;
}

app-startuper-for-startuper .marginTop {
  margin-bottom: 12px !important;
}

app-startuper-for-startuper .boLoc {
  margin-bottom: 20px !important;
}

app-startuper-for-startuper .grid {
  margin: 0px 0px 8px 0px !important;
}

app-startuper-for-startuper .p-dataview .p-dataview-content {
  background: unset !important;
}

div.btnSearch:hover {
  background-color: #2563eb !important;
}

div.btnClear:hover {
  background-color: #a8abad !important;
}

/* app-startuper-for-startuper .p-paginator {
  padding: 0px !important;
}

app-startuper-for-startuper .p-paginator .p-dropdown {
  height: 2.15rem !important;
}

app-startuper-for-startuper .p-paginator .p-paginator-current {
  height: 2.15rem !important;
}

app-startuper-for-startuper .p-paginator .p-paginator-first {
  height: 2.15rem !important;
}

app-startuper-for-startuper .p-paginator .p-paginator-pages .p-paginator-page {
  height: 2.15rem !important;
}

.p-paginator .p-paginator-prev{
  height: 2.15rem !important;
}

.p-paginator .p-paginator-next{
  height: 2.15rem !important;
}

.p-paginator .p-paginator-last{
  height: 2.15rem !important;
} */

.hienThi {
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  margin-top: 8px;
}

@media (max-width: 576px) {
}

@media (min-width: 576px) and (max-width: 767px) {
}

@media (min-width: 1820px) {
  .md\:col-4 {
    width: 25%;
  }
}
