<form [formGroup]="formSearch">
  <div class="body-content">
    <div class="grid row">
      <div class="md:col-2">
        <h2 class="boLoc" style="margin-top: 16px !important">
          Bộ lọc tìm kiếm
        </h2>
        <div class="p-field col-12 md-12 marginTop">
          <span class="p-float-label">
            <p-cascadeSelect
              [options]="mySelects"
              optionLabel="cname"
              optionGroupLabel="name"
              optionValue="code"
              [optionGroupChildren]="['selects']"
              appendTo="body"
              formControlName="mode"
              (ngModelChange)="submitSearch()"
            ></p-cascadeSelect>
            <label></label>
          </span>
        </div>
        <div class="p-field col-12 md-12 marginTop">
          <p-multiSelect
            optionLabel="name"
            optionValue="value"
            appendTo="body"
            [options]="areas"
            optionLabel="name"
            formControlName="areas"
            defaultLabel="Khu vực"
          >
          </p-multiSelect>
        </div>
        <div class="p-field col-12 md-12 marginTop">
          <p-multiSelect
            optionLabel="name"
            optionValue="value"
            appendTo="body"
            [options]="specializies"
            optionLabel="name"
            formControlName="specializies"
            defaultLabel="Chuyên môn"
          >
          </p-multiSelect>
        </div>
        <div class="p-field col-12 md-12 marginTop">
          <p-multiSelect
            optionLabel="name"
            optionValue="value"
            appendTo="body"
            [options]="availableTimes"
            optionLabel="name"
            formControlName="availableTimes"
            defaultLabel="Thời gian khả dụng"
          >
          </p-multiSelect>
        </div>
        <div class="p-field col-12 md-12 marginTop">
          <p-multiSelect
            optionLabel="name"
            optionValue="value"
            appendTo="body"
            [options]="skills"
            optionLabel="name"
            formControlName="skills"
            defaultLabel="Kỹ năng mềm"
          >
          </p-multiSelect>
        </div>
        <div class="p-field col-12 md-12 marginTop">
          <p-multiSelect
            optionLabel="name"
            optionValue="value"
            appendTo="body"
            [options]="personalities"
            optionLabel="name"
            formControlName="personalities"
            defaultLabel="Tính cách"
          >
          </p-multiSelect>
        </div>
        <div class="p-field col-12 md-12 marginTop">
          <p-multiSelect
            optionLabel="name"
            optionValue="value"
            appendTo="body"
            [options]="yearOfExps"
            optionLabel="name"
            formControlName="yearOfExps"
            defaultLabel="Năm kinh nghiệm"
          >
          </p-multiSelect>
        </div>
        <ng-container *ngIf="userInfo.job == '1'">
          <div class="p-field col-12 md-12 marginTop">
            <p-dropdown
              [filter]="true"
              [options]="universities"
              [style]="{ width: '100%' }"
              [autoDisplayFirst]="false"
              formControlName="university"
              (onChange)="changeUniversity($event)"
              optionLabel="name"
              optionValue="value"
              placeholder="Trường học"
            ></p-dropdown>
          </div>
          <div class="p-field col-12 md-12">
            <p-dropdown
              [filter]="true"
              [options]="universitySpecializeds ?? []"
              [style]="{ width: '100%' }"
              [autoDisplayFirst]="false"
              formControlName="universitySpecialized"
              optionLabel="name"
              optionValue="value"
              placeholder="Ngành học"
            ></p-dropdown>
          </div>
        </ng-container>
        <div class="col-12 mt-2">
          <div class="grid">
            <div
              style="width: 50%; padding-right: 6px"
              (click)="submitSearch()"
            >
              <div
                style="
                  background-color: #0387ff;
                  color: #ffffff;
                  padding: 12px;
                  border-radius: 4px;
                  cursor: pointer;
                "
                class="btnSearch"
              >
                <span class="flex justify-content-center">Áp dụng</span>
              </div>
            </div>
            <div style="width: 50%; padding-left: 6px" (click)="clearSearch()">
              <div
                style="
                  background-color: #d8dfe8;
                  padding: 12px;
                  border-radius: 4px;
                  cursor: pointer;
                "
                class="btnClear"
              >
                <span class="flex justify-content-center">Cài lại</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="md:col-10" style="padding-left: 24px !important">
        <div class="grid marginTop row" style="margin-top: 16px !important">
          <div class="col-10">
            <span class="p-input-icon-left col-12">
              <i class="pi pi-search"></i>
              <input
                type="text"
                pInputText
                placeholder="Tìm kiếm theo từ khóa"
                formControlName="filter"
                (keyup.enter)="submitSearch()"
                style="width: 100%"
              />
            </span>
          </div>
          <!-- <div class="md:col-2" style="padding-left: 16px !important">
            <p-button
              [style]="{ backgroundColor: '#01A9FF' }"
              (onClick)="routeToHistorySearch()"
              >Lịch sử tìm kiếm</p-button
            >
          </div> -->
          <div
            class="col-10 grid"
            style="
              background-color: #e6e6e6;
              padding: 8px !important;
              margin-top: 12px !important;
              border-radius: 6px;
            "
          >
            <div class="hienThi" style="padding-top: 8px">
              <span>Ưu tiên hiển thị</span>
            </div>
            <p-button class="hienThi">Phù hợp nhất</p-button>
            <p-button class="hienThi">Khoảng cách</p-button>
            <p-button class="hienThi">Thời gian khả dụng</p-button>
            <p-button class="hienThi">Năm kinh nghiệm</p-button>
          </div>
        </div>
        <p-dataView [value]="listStartuper" *ngIf="listStartuper.length > 0">
          <ng-template let-startuper pTemplate="listItem">
            <div
              class="col-12 md:col-4"
              style="padding: 8px 16px 8px 0 !important"
            >
              <app-startuper-item
                [startuper]="startuper"
                [userInfo]="userInfo"
                [mode]="formSearch.value.mode"
                (acceptFriend)="acceptFriend($event)"
                (requestFriend)="requestFriend($event)"
                (requestFromProject)="requestFromProject($event)"
                (cancelRequestFriend)="cancelRequestFriend($event)"
              ></app-startuper-item>
            </div>
          </ng-template>
        </p-dataView>
        <ng-container *ngIf="listStartuper.length == 0">
          <img
            width="300px"
            src="../../../../assets/img/nodata.jpg"
            alt=""
            style="margin: auto; justify-content: center; display: flex"
          />
        </ng-container>
        <div class="flex justify-content-center">
          <p-paginator
            style="margin-left: 12px; margin-top: 10px"
            [pageLinkSize]="pageSize"
            [rows]="pageSize"
            [totalRecords]="totalRecords"
            currentPageReportTemplate="Hiển thị từ {first} đến {last} trên {totalRecords} nhà khởi nghiệp"
            [showCurrentPageReport]="true"
            [rowsPerPageOptions]="pageSizeOptions"
            (onPageChange)="onPageChange($event)"
          ></p-paginator>
        </div>
      </div>
    </div>
  </div>
</form>
