.register {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.register .background {
  background-color: rgba(0, 0, 0, 0.384);
  backdrop-filter: blur(1px);
  width: 100%;
  height: 100%;
  z-index: 1000;
  position: fixed;
}

.register .content {
  height: 100%;
  width: 50%;
  box-sizing: border-box;
  z-index: 1001;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.register .content .scroll{
  padding: 2rem;
  height: 100%;
  width: 100%;
  box-sizing: border-box;
  overflow: auto;

}

.register .content .title {
  width: 100%;
  margin-bottom: 5px;
  color: black;
}

.register .content #iconDiv img {
  width: 3rem;
  height: 3rem;
}

.register .content #iconDiv{
  box-sizing: border-box;
  text-align: center;
}

.register .content p {
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
  color: black;
}

.register .content h3 {
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
  color: green;
}

.register .content .MuiTextField-root {
  width: 100%;
}

.register .content .buttonDiv {
  margin-top: 1rem;
  width: 100%;
  background-color: #D3DFEF;
  padding: 10px;
}

.register .content .save {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.register .content .save .checkbox {
  color: black;
}

.register .content .save .help {
  color: #0386FF;
}

.register .content .buttonDiv button {
  width: 100%;
  height: 3rem;
  font-size: 1rem;
  font-weight: 600;
  background-color: white;
  border-radius: 5px;
  cursor: pointer;
}

.register .content #iconDiv img {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.register .content .buttonDiv .send {
  border: none;
  background: linear-gradient(90deg, #0386FF 0.09%, #01AAFF 100.05%);
  color: white;
}

.p-field * {
  display: block;
}

.p-field{
  width: 100% !important;
}

.p-field{
  width: 100% !important;
  margin-bottom: 10px;
}

.p-field .p-inputtext{
  width: 100%;
}

.register-form{
  margin-bottom: 10px;
}
