<div class="h-screen flex flex-column">
  <app-home-header (login)="isVisibleLogin = true" (register)="isVisibleRegister = true"></app-home-header>
  <div class="w-auto h-25rem bg-gradient flex align-items-center justify-content-between">
    
    <h1 style="letter-spacing: 5px;" class="text-white text-5xl ml-8">{{ typedText }}<span *ngIf="showCursor"
        class="typing-cursor"></span></h1>
    <div class="flex h-full align-items-end">
      <img src="../../../assets//img//hello.gif" alt="Animated image" class="h-20rem">
    </div>
  </div>
  <app-footer></app-footer>
</div>

<ng-container *ngIf="isVisibleLogin" >
  <app-login (close)="isVisibleLogin = false"></app-login>
</ng-container>

<ng-container *ngIf="isVisibleRegister" >
  <app-register (close)="isVisibleRegister = false"></app-register>
</ng-container>
