.startupItem {
  /* position: relative; */
  /* background-color: white; */
  /* box-shadow: 0px 0px 3px 3px #00000022; */
  border-radius: 20px;
  /* height: 100%; */
}

p {
  margin-bottom: 4px !important;
  margin-left: 12px !important;
  margin-top: 12px !important;
}

.startupItem ul {
  list-style: none;
}

.startupItem .info ul {
  margin: 0;
  padding: 8px 0px 8px 0px;
}

.startupItem .info li {
  margin: 0;
  padding: 0px 0px 8px 0px;
  color: #000000;
}

.startupItem .info .name {
  font-size: 1.2rem;
  font-weight: 700;
}

.startupItem #goldOutline {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.startupItem .hoverDiv {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 17px;
  width: 100%;
  height: 100%;
  background-color: #000000a4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 12px;
}

.startupItem .hoverDiv button {
  cursor: pointer;
  width: 40%;
  height: 3rem;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  border-radius: 30px;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5%;
  color: white;
}


.col-8 {
}


.grid {
}

.startupItem .hoverDiv button:hover {
  filter: brightness(0.9);
}

.startupItem .hoverDiv button:active {
  filter: brightness(0.8);
}

.startupItem .hoverDiv #xemthem {
  border-style: solid;
  border-width: 1px;
}

.startupItem .hoverDiv #ketnoi {
  background: linear-gradient(90deg, #0386ff 0%, #01aaff 100%, #01aaff 100%);
}

@media (max-width: 576px) {
  .startupItem .info ul {
    margin: 0;
    padding: 0px 0px 8px 8px;
  }
  .startupItem .info li {
    margin: 0;
    padding: 0px 0px 8px 8px;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  .startupItem .info ul {
    margin: 0;
    padding: 0px 0px 8px 8px;
  }
  .startupItem .info li {
    margin: 0;
    padding: 0px 0px 8px 8px;
  }
  .startupItem #avatar {
    height: 52px !important;
    width: 52px !important;
  }
}

@media (max-width: 1820px) {
  .startupItem .info ul {
    margin: 0;
    padding: 12px 0px 8px 12px;
  }

}
.p-tag {
  margin-left: 0 !important;
  margin-top: 0 !important;
}
