.user-item{
  margin-top: 7px;
  padding: 0px 15px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
  cursor: pointer;
}

.user-item:first-child{
  border-color: #ffe602;
  border-width: 2px;
}

.user-item:hover{
  background-color: #ddd;
}

.list-member{
  border-bottom: 1px solid #c9c9c9;
  border-top: 1px solid #c9c9c9;
}
