<div class="flex flex-column">
  <div>
    <span class="flex text-base font-semibold align-items-center">Thành viên ({{members.length}})
    </span>
    <div>
      <span class="p-input-icon-left w-full py-2">
        <i class="pi pi-search pb-3"></i>
        <input type="text" pInputText class="p-inputtext w-full custom-input" placeholder="Tìm kiếm">
      </span>
    </div>
  </div>
  <div class="w-full list-member .grid py-1">
    <p-panel header="Đội ngũ" [toggleable]="true">
      <ng-container *ngFor="let user of members">
        <div class="flex border-400 border-1 border-round-md align-items-center justify-content-between  mb-1 p-2"
          [pTooltip]="'Ngày tham gia: ' + getDate(user.joinTime)">
          <div class="flex align-items-center justify-content-start">
            <p-avatar shape="circle"
              [image]="user.user.avatarUrl ?? 'https://fsiconnected.cloud/images/default-avatar.jpg'"></p-avatar>
            <span class="ml-2">{{user.user.name}}</span>
          </div>
          <button pButton pRipple type="button" icon="pi pi-caret-down"
            class="p-button-rounded p-button-sm p-button-secondary p-button-text"
            (click)="menu.toggle($event); userSelectId=user.user.id"></button>
        </div>
      </ng-container>
    </p-panel>
    <button *ngIf="isMyProject" pButton pRipple type="button" label="Thêm thành viên"
      class="p-button-outlined mt-3 w-full" (click)="addNewMember.emit()"></button>
  </div>
</div>

<p-menu #menu [popup]="true" [model]="items"></p-menu>