<div class="flex flex-column">
  <div>
    <span class="flex text-base font-semibold align-items-center">Thành viên ({{members.length}})
    </span>
    <div>
      <span class="p-input-icon-left w-full py-2">
        <i class="pi pi-search pb-3"></i>
        <input type="text" pInputText class="p-inputtext w-full custom-input" placeholder="Tìm kiếm">
      </span>
    </div>
  </div>
  <div class="w-full list-member .grid py-1">
    <p-panel header="Đội ngũ" [toggleable]="true">
      <ng-container *ngFor="let user of members; let isFirst = first">
        <div class="flex border-400 border-1 border-round-md align-items-center justify-content-between mb-1 p-2"
          [pTooltip]="'Ngày tham gia: ' + getDate(user.joinTime)">
          <div class="flex align-items-center justify-content-start hover:text-primary cursor-pointer"
            (click)="userSelectId=user.user.id;viewDetail()">
            <div class=" w-2rem h-2rem">
              <img [src]="user.user.avatarUrl ?? 'https://fsiconnected.cloud/images/default-avatar.jpg'"
                class="w-2rem h-2rem border-circle" [ngClass]="{'owner-outline':isFirst}">
            </div>
            <span class="ml-2">{{user.user.name}}</span>
            <img *ngIf="isFirst" src="../../../../../assets/icons/Owner.svg" class="h-1rem w-1rem ml-1">
          </div>
          <button pButton pRipple type="button" icon="pi pi-caret-down"
            class="p-button-rounded p-button-sm p-button-secondary p-button-text"
            (click)="op.toggle($event); userSelectId=user.user.id"></button>
        </div>
      </ng-container>
    </p-panel>
    <button *ngIf="isMyProject" pButton pRipple type="button" label="Thêm thành viên"
      class="p-button-outlined mt-3 w-full" (click)="addNewMember.emit()"></button>
  </div>
</div>

<p-overlayPanel [showTransitionOptions]="'200ms'" [hideTransitionOptions]="'200ms'" #op [dismissable]="true">
  <ng-template pTemplate>
    <div class="flex flex-column p-2">
      <div (click)="op.hide();viewDetail()"
        class="container-notification flex align-items-center h-2rem justify-content-start cursor-pointer border-round px-2 py-1 hover:text-primary">
        <i class="pi pi-id-card mr-2 text-xs"></i>
        <p class="text-xs my-0">Xem chi tiết</p>
      </div>
      <div (click)="op.hide();navigateChat()"
        class="container-notification flex align-items-center h-2rem justify-content-start cursor-pointer border-round px-2 py-1 hover:text-primary">
        <i class="pi pi-comments mr-2 text-xs"></i>
        <p class="text-xs my-0">Trò chuyện</p>
      </div>
    </div>
  </ng-template>
</p-overlayPanel>

<!-- <p-menu #menu [popup]="true" [model]="items"></p-menu> -->