<div class="grid flex">
  <span class="flex align-items-center justify-content-center ml-3">
    <i class="pi pi-users mr-2" style="font-size: 27px;"></i>
    <h3 style="margin: 2px;" class="flex align-items-center">Thành viên <h4>(8)</h4></h3>
  </span>
  <div class="col-12 list-member .grid">
    <ng-container *ngFor="let user of members">
      <span class="user-item flex align-items-center justify-content-center">
        <p-avatar shape="circle" [image]="user.user.avatarUrl"></p-avatar>
        <p class="ml-3">{{user.user.name}}</p>
      </span>
    </ng-container>
    <button *ngIf="isMyProject" pButton pRipple type="button" label="Thêm thành viên" class="p-button-outlined mt-3 col-12" (click)="addNewMember.emit()"></button>
  </div>
</div>
