<div class="flex flex-column">
  <span *ngIf="!isView" class="flex align-items-center justify-content-center ml-3">
    <i class="pi pi-file-o mr-2" style="font-size: 27px;"></i>
    <h3 style="margin: 2px;" class="flex align-items-center">Tài liệu <h4>({{files.length}})</h4>
    </h3>
  </span>
  <div class="w  .grid" [ngClass]="{'list-member':!isView}">
    <ng-container *ngFor="let file of files">
      <span class="file-item flex flex-row relative px-2 hover:bg-gray-200" [pTooltip]="
      'Size: '+  file.file.size+' KB'+ '\n'+
      'Ghi chú: ' + file.note">
        <div class="flex align-items-center justify-content-center h-full w-2rem mr-2">
          <img [src]="iconContentType(file.file.contentType)" alt="" class="w-full h-full">
        </div>
        <div class="flex flex-column w-full">
          <h4 class="text-overflow-ellipsis">{{file.title}}</h4>
          <p class="text-overflow-ellipsis" [ngClass]="{'max-w-10rem':!isView}">{{file.file.url}}</p>
          <button pButton pRipple type="button" icon="pi pi-download"
            class="p-button-rounded p-button-text absolute top-50 right-0" style="transform: translateY(-50%);" (click)="downloadFile(file)"></button>
        </div>
      </span>
    </ng-container>
    <button *ngIf="isMyProject" pButton pRipple type="button" label="Tải lên tài liệu"
      class="p-button-outlined mt-3 w-full" (click)="isShowUpload = true"></button>
  </div>
</div>

<ng-container *ngIf="isShowUpload">
  <app-upload-document [projectId]="projectId" [display]="isShowUpload" (fetchData)="getListFile()"
    (close)="isShowUpload=false"></app-upload-document>
</ng-container>


<!-- <p-dialog [resizable]="true" header="Tải lên tài liệu mới" [(visible)]="isShowUpload" [modal]="true"
  [style]="{width: '50vw'}" [baseZIndex]="10000" [draggable]="false">
  <div class="grid p-fluid">
    <div class="w-full">
      <input (change)="onFileChange($event)" type="file" id="fileUpload">
    </div>
    <div class="p-field w-full md-12">
      <span class="p-float-label">
        <input type="text" pInputText [(ngModel)]="title" />
        <label>Tiêu đề: <span style="color: red;">*</span>
        </label>
      </span>
    </div>
    <div class="p-field w-full md-12">
      <span class="p-float-label">
        <textarea pInputTextarea [(ngModel)]="note"></textarea>
        <label>Ghi chú/ mô tả:
        </label>
      </span>
    </div>
    <div class="p-field col-6 md-12">
      <div class="p-field-checkbox" style="height: 34px; display: flex; align-items: center">
        <p-checkbox  [(ngModel)]="visibleForInvestor" [binary]="true">
        </p-checkbox>
        <label style="margin-left: 4px; margin-top: 1px">Hiển thị cho nhà đầu tư</label>
      </div>
    </div>
    <div class="p-field col-6 md-12">
      <div class="p-field-checkbox" style="height: 34px; display: flex; align-items: center">
        <p-checkbox  [(ngModel)]="visibleForAll" [binary]="true" (onChange)="clickVisibleForAll()">
        </p-checkbox>
        <label style="margin-left: 4px; margin-top: 1px">Hiển thị cho tất cả</label>
      </div>
    </div>
  </div>
  <ng-template pTemplate="footer">
    <p-button label="Upload" styleClass="p-button-success" (onClick)="upload()">
    </p-button>
  </ng-template>
</p-dialog> -->