<form [formGroup]="formSearch">
  <div class="body-content">
    <div class="grid row">
      <div class="md:col-2">
        <h2 class="boLoc" style="margin-top: 16px !important">
          Bộ lọc tìm kiếm
        </h2>
        <div class="p-field col-12 md-12 marginTop">
          <p-dropdown
            [options]="relationWithProjects"
            optionValue="value"
            optionLabel="name"
            [style]="{ width: '100%' }"
            formControlName="relationWithProject"
            (onChange)="submitSearch()"
          ></p-dropdown>
        </div>
        <div class="p-field col-12 md-12 marginTop">
          <p-multiSelect
            optionLabel="name"
            optionValue="value"
            appendTo="body"
            [options]="activePurpose"
            optionLabel="name"
            formControlName="activePurpose"
            defaultLabel="Mục đích hoạt động"
          >
          </p-multiSelect>
        </div>
        <div class="p-field col-12 md-12 marginTop">
          <p-multiSelect
            optionLabel="name"
            optionValue="value"
            appendTo="body"
            [options]="areas"
            optionLabel="name"
            formControlName="areas"
            defaultLabel="Khu vực"
          >
          </p-multiSelect>
        </div>
        <div class="p-field col-12 md-12 marginTop">
          <p-multiSelect
            optionLabel="name"
            optionValue="value"
            appendTo="body"
            [options]="fields"
            optionLabel="name"
            formControlName="fields"
            defaultLabel="Lĩnh vực"
          >
          </p-multiSelect>
        </div>
        <div class="p-field col-12 md-12 marginTop">
          <p-multiSelect
            optionLabel="name"
            optionValue="value"
            appendTo="body"
            [options]="projectStages"
            optionLabel="name"
            formControlName="stages"
            defaultLabel="Giai đoạn"
          >
          </p-multiSelect>
        </div>
        <div class="p-field col-12 md-12 marginTop">
          <p-multiSelect
            optionLabel="name"
            optionValue="value"
            appendTo="body"
            [options]="scale"
            optionLabel="name"
            formControlName="scale"
            defaultLabel="Quy mô nhân sự"
          >
          </p-multiSelect>
        </div>
        <div class="p-field col-12 md-12 marginTop">
          <p-multiSelect
            optionLabel="name"
            optionValue="value"
            appendTo="body"
            [options]="specialize"
            optionLabel="name"
            formControlName="specialize"
            defaultLabel="Chuyên môn yêu cầu"
          >
          </p-multiSelect>
        </div>
        <div class="p-field col-12 md-12 marginTop">
          <p-multiSelect
            optionLabel="name"
            optionValue="value"
            appendTo="body"
            [options]="skill"
            optionLabel="name"
            formControlName="skill"
            defaultLabel="Kỹ năng mềm yêu cầu"
          >
          </p-multiSelect>
        </div>
        <div class="p-field col-12 md-12 marginTop">
          <p-multiSelect
            optionLabel="name"
            optionValue="value"
            appendTo="body"
            [options]="availableTimes"
            optionLabel="name"
            formControlName="availableTimes"
            defaultLabel="Thời gian yêu cầu"
          >
          </p-multiSelect>
        </div>
        <div class="p-field col-12 md-12 marginTop">
          <p-multiSelect
            optionLabel="name"
            optionValue="value"
            appendTo="body"
            [options]="experience"
            optionLabel="name"
            formControlName="experience"
            defaultLabel="Kinh nghiệm yêu cầu"
          >
          </p-multiSelect>
        </div>
        <div class="col-12 mt-2">
          <div class="grid">
            <div
              style="width: 50%; padding-right: 6px"
              (click)="submitSearch()"
            >
              <div
                style="
                  background-color: #0387ff;
                  color: #ffffff;
                  padding: 12px;
                  border-radius: 4px;
                  cursor: pointer;
                "
              >
                <span class="flex justify-content-center">Áp dụng</span>
              </div>
            </div>
            <div style="width: 50%; padding-left: 6px" (click)="clearSearch()">
              <div
                style="
                  background-color: #d8dfe8;
                  padding: 12px;
                  border-radius: 4px;
                  cursor: pointer;
                "
              >
                <span class="flex justify-content-center">Cài lại</span>
              </div>
            </div>
          </div>
        </div>
      </div>
      <div class="md:col-10" style="padding-left: 24px !important">
        <div class="grid marginTop row" style="margin-top: 16px !important">
          <div class="col-10">
            <span class="p-input-icon-left col-12">
              <i class="pi pi-search"></i>
              <input
                type="text"
                pInputText
                placeholder="Tìm kiếm theo từ khóa"
                formControlName="filter"
                (keyup.enter)="submitSearch()"
                style="width: 100%"
              />
            </span>
          </div>
          <div class="md:col-2 left">
            <p-button (click)="isVisibleAddProject = true"
              >Thêm dự án mới</p-button
            >
          </div>
          <div
            class="col-10 grid"
            style="
              background-color: #f3f4f6;
              padding: 8px !important;
              margin-top: 12px !important;
            "
          >
            <div class="hienThi" style="padding-top: 5px">
              <span>Ưu tiên hiển thị</span>
            </div>
            <p-button class="hienThi">Phù hợp nhất</p-button>
            <p-button class="hienThi">Làm việc từ xa</p-button>
            <p-button class="hienThi">Khoảng cách</p-button>
            <p-button class="hienThi">Giai đoạn</p-button>
            <p-button class="hienThi">Quy mô</p-button>
          </div>
        </div>
        <p-dataView [value]="listProject" *ngIf="listProject.length > 0">
          <ng-template let-project pTemplate="listItem">
            <div
              class="col-12 md:col-4"
              style="padding: 8px 16px 8px 0 !important"
            >
              <app-project-item
                [project]="project"
                [relationWithProject]="formSearch.value.relationWithProject"
                (request)="requestToProject($event)"
                (accept)="acceptRequestFromProject($event)"
                (accept)="cancelRequestToProject($event)"
              ></app-project-item>
            </div>
          </ng-template>
        </p-dataView>
        <ng-container *ngIf="listProject.length == 0">
          <img
            width="300px"
            src="../../../../assets/img/nodata.jpg"
            alt=""
            style="margin: auto; justify-content: center; display: flex"
          />
        </ng-container>
        <div class="flex justify-content-center">
          <p-paginator
            style="margin-left: 12px; margin-top: 10px"
            [pageLinkSize]="pageSize"
            [rows]="pageSize"
            [totalRecords]="totalRecords"
            currentPageReportTemplate="Hiển thị từ {first} đến {last} trên {totalRecords} dự án"
            [showCurrentPageReport]="true"
            [rowsPerPageOptions]="pageSizeOptions"
            (onPageChange)="onPageChange($event)"
          ></p-paginator>
        </div>
      </div>
    </div>
  </div>
</form>

<ng-container *ngIf="isVisibleAddProject">
  <app-add-new-project
    [display]="isVisibleAddProject"
    (close)="isVisibleAddProject = false"
  ></app-add-new-project>
</ng-container>
