.p-input-icon-left > .p-inputtext {
  padding-left: 2.5rem !important;
}

app-project-for-startuper h2 {
  margin: 0px !important;
}


app-project-for-startuper .p-dataview .p-dataview-content {
  background: unset !important;
}

/* app-project-for-startuper .p-paginator {
  padding: 0px !important;
}

app-project-for-startuper .p-paginator .p-dropdown {
  height: 2.15rem !important;
}

app-project-for-startuper .p-paginator .p-paginator-current {
  height: 2.15rem !important;
}

app-project-for-startuper .p-paginator .p-paginator-first {
  height: 2.15rem !important;
}

app-project-for-startuper .p-paginator .p-paginator-pages .p-paginator-page {
  height: 2.15rem !important;
} */

/* .p-paginator .p-paginator-prev {
  height: 2.15rem !important;
}

.p-paginator .p-paginator-next {
  height: 2.15rem !important;
}

.p-paginator .p-paginator-last {
  height: 2.15rem !important;
} */

.hienThi {
  margin-left: 8px;
  margin-right: 8px;
  margin-bottom: 8px;
  margin-top: 8px;
}

div.btnSearch:hover {
  background-color: #2563eb !important;
}

div.btnClear:hover {
  background-color: #a8abad !important;
}

app-project-for-startuper .p-accordion .p-accordion-content {
  padding: 0px !important;
}

app-project-for-startuper .p-accordion p-accordiontab .p-accordion-tab {
  margin-top: 16px !important;
  margin-bottom: 16px !important;
}

app-project-for-startuper .p-tabview .p-tabview-panels {
  padding-top: 0px !important;
}

app-project-for-startuper .p-galleria-item {
  margin-top: 16px !important;
}

app-project-for-startuper .p-panel .p-panel-content {
  padding: 0px !important;
}

@media (max-width: 576px) {
  app-project-for-startuper .md\:col-2 {
    margin-top: 8px !important;
  }
  app-project-for-startuper .left {
    padding-left: 0px !important;
  }
}

@media (min-width: 576px) and (max-width: 767px) {
  app-project-for-startuper .md\:col-2 {
    margin-top: 8px !important;
  }
  app-project-for-startuper .left {
    padding-left: 0px !important;
  }
}

@media (min-width: 1820px) {
  .md\:col-4 {
    width: 25%;
  }
}
.p-button.p-button-icon-only.p-button-rounded {
  border-radius: 50%;
  height: 2rem;
}
.p-button.p-button-icon-only {
  width: 2rem;
  padding: 0.75rem 0;
}