<form [formGroup]="formSearch">
  <div class="body-content">
    <div class="search">
      <h1>Tìm kiếm</h1>
      <span class="p-input-icon-left">
        <i class="pi pi-search"></i>
        <input type="text" pInputText placeholder="Tìm kiếm theo từ khóa" formControlName="filter"
          (keyup.enter)="submitSearch()" />
      </span>
      <button pButton type="button" label="Thêm mới dự án" (click)="isVisibleAddProject = true"></button>
    </div>
    <div class="grid">
      <div class="filter-box col-2 grid fluid flex flex-column justify-content-start ">
        <div class="p-field col-12 md-12 mt-1">
          <span class="p-float-label">
            <p-dropdown [options]="relationWithProjects" optionValue="value" optionLabel="name"
              [style]="{'width': '100%'}" formControlName="relationWithProject"
              (onChange)="submitSearch()"></p-dropdown>
            <label>Loại dự án</label>
          </span>
        </div>
        <div class="p-field col-12 md-12 mt-1">
          <span class="p-float-label">
            <p-multiSelect optionLabel="name" optionValue="value" appendTo="body" [options]="areas" optionLabel="name"
              formControlName="areas">
            </p-multiSelect>
            <label>Khu vực</label>
          </span>
        </div>
        <div class="p-field col-12 md-12 mt-1">
          <span class="p-float-label">
            <p-multiSelect optionLabel="name" optionValue="value" appendTo="body" [options]="fields" optionLabel="name"
              formControlName="fields">
            </p-multiSelect>
            <label>Lĩnh vực của dự án</label>
          </span>
        </div>
        <div class="p-field col-12 md-12 mt-1">
          <span class="p-float-label">
            <p-multiSelect optionLabel="name" optionValue="value" appendTo="body" [options]="projectStages"
              optionLabel="name" formControlName="stages">
            </p-multiSelect>
            <label>Giai đoạn của dự án</label>
          </span>
        </div>
        <div class="p-field col-12 md-12 mt-1">
          <span class="p-float-label">
            <p-multiSelect optionLabel="name" optionValue="value" appendTo="body" [options]="availableTimes"
              optionLabel="name" formControlName="availableTimes">
            </p-multiSelect>
            <label>Thời gian yêu cầu</label>
          </span>
        </div>
        <div class="col-12 flex justify-content-center mt-2">
          <p-button icon="pi pi-search" (onClick)="submitSearch()"></p-button>
          <p-button class="ml-4" icon="pi pi-times" (onClick)="clearSearch()"></p-button>
        </div>
      </div>
      <div class="list-data col-10 grid flex align-items-center justify-content-center ">
        <ng-container *ngIf="listProject.length == 0">
          <img width="300px" src="../../../../assets/img/nodata.jpg" alt="" style="margin: auto;">
        </ng-container>

        <ng-container *ngFor=" let project of listProject">
          <div class="lg:col-3 md:col-4 sm:col-12">
            <app-project-item [project]="project" [relationWithProject]="formSearch.value.relationWithProject"
              (request)="requestToProject($event)"  (accept)="acceptRequestFromProject($event)"   (accept)="cancelRequestToProject($event)"></app-project-item>
          </div>
        </ng-container>
      </div>
      <div class="col-12 flex justify-content-center">
        <p-paginator [pageLinkSize]="pageSize" [rows]="pageSize" [totalRecords]="totalRecords"
          currentPageReportTemplate="Showing {first} to {last} of {totalRecords} project" [showCurrentPageReport]="true"
          [rowsPerPageOptions]="pageSizeOptions" (onPageChange)="onPageChange($event)"></p-paginator>
      </div>
    </div>
  </div>
</form>


<ng-container *ngIf="isVisibleAddProject">
  <app-add-new-project [display]="isVisibleAddProject" (close)="isVisibleAddProject = false"></app-add-new-project>
</ng-container>
