<p-dialog
  [resizable]="true"
  header="Thông tin người dùng"
  [(visible)]="visible"
  [modal]="true"
  [style]="{ width: '800px' }"
  [baseZIndex]="10000"
  [draggable]="false"
  (onHide)="hide()"
>
  <div class="page">
    <div class="profile relative mb-3">
      <div class="flex relative">
        <div
          class="flex"
          style="
            background-image: url('../../../assets/img/qcao.png');
            width: 100%;
          "
        >
          <div
            class="bg-right-bottom bg-no-repeat w-10rem h-10rem border-round"
          >
            <img
              class="logo absolute"
              style="top: 45%; left: 5%"
              [src]="
                startuperInfo.avatarUrl ??
                'https://fsiconnected.cloud/images/default-avatar.jpg'
              "
              width="150px"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="info">
      <div>
        <ul>
          <li>
            <div class="name">{{ startuperInfo.name }}</div>
          </li>
          <li>
            {{ startuperInfo.describe }}
          </li>
          <li>
            <i class="pi pi-search"></i>
            {{ getPurpose(startuperInfo.purpose) }}
          </li>
          <li *ngIf="userInfo.job == '1'">
            <i class="fa-solid fa-graduation-cap"></i>
            {{ startuperInfo.university }}
          </li>
          <li>
            <i class="fa-solid fa-calendar-days"></i>
            {{ getDate(startuperInfo.dateOfBirth) }}
          </li>
          <li>
            <i class="fa-solid fa-location-dot"></i>
            {{ getArea(startuperInfo.location) }}
          </li>
          <li><i class="pi pi-thumbs-up"></i> Có 1000 người theo dõi</li>
          <!-- <li><i class="pi pi-clock"></i> Tham gia vào tháng 8 2023</li> -->
        </ul>
      </div>
      <p-tabView>
        <p-tabPanel [header]="headerName" *ngIf="startuperInfo.purpose != 0">
          <ul>
            <li *ngIf="startuperInfo.purpose == 1">
              <p>
                <b>Kỹ năng chuyên môn: </b>
              </p>
              <span>
                <p-tag
                  *ngFor="
                    let targetSpecialize of getSpecializies(
                      startuperInfo.targetSpecialize ?? []
                    )
                  "
                  [value]="targetSpecialize"
                ></p-tag>
              </span>
            </li>
            <li *ngIf="startuperInfo.purpose == 1">
              <p>
                <b>Điểm cộng kỹ năng mềm: </b>
              </p>
              <span>
                <p-tag
                  *ngFor="
                    let requestSkill of getSkills(
                      startuperInfo.requestSkill ?? []
                    )
                  "
                  [value]="requestSkill"
                ></p-tag>
              </span>
            </li>
            <li *ngIf="startuperInfo.purpose == 1">
              <p>
                <b>Điểm cộng tính cách: </b>
              </p>
              <span>
                <p-tag
                  *ngFor="
                    let requestPersonality of getPersonalities(
                      startuperInfo.requestPersonality ?? []
                    )
                  "
                  [value]="requestPersonality"
                ></p-tag>
              </span>
            </li>
            <li *ngIf="startuperInfo.purpose == 2">
              <p>
                <b>Lĩnh vực của ý tưởng: </b>
              </p>
              <span>
                <p-tag
                  *ngFor="
                    let targetField of getTargetField(
                      startuperInfo.targetField ?? []
                    )
                  "
                  [value]="targetField"
                ></p-tag>
              </span>
            </li>
            <li *ngIf="startuperInfo.purpose == 4">
              <p>
                <b>Lĩnh vực của dự án: </b>
              </p>
              <span>
                <p-tag
                  *ngFor="
                    let targetField of getTargetField(
                      startuperInfo.targetField ?? []
                    )
                  "
                  [value]="targetField"
                ></p-tag>
              </span>
            </li>
            <div *ngIf="startuperInfo.purpose == 3">
              <div
                *ngFor="let item of listProject; let i = index"
                class="flex justify-content-between flex-wrap history-search"
              >
                <div class="flex align-items-center justify-content-center m-2">
                  <img
                    class="image-history"
                    [src]="
                      item.project.avatarUrl ??
                      'https://fsiconnected.cloud/images/default-avatar.jpg'
                    "
                    alt=""
                    width="100px"
                    style="border-radius: 50%"
                  />
                  <div
                    class="flex align-items-center justify-content-center ml-2"
                  >
                    <ul>
                      <li>
                        <b><span>Tên dự án: </span> </b>
                        <span>{{ item.project.projectName }}</span>
                      </li>
                      <li>
                        <b><span>Mô tả dự án: </span> </b>
                        <span>{{ item.project.description }}</span>
                      </li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </ul>
        </p-tabPanel>
        <p-tabPanel header="Giới thiệu bản thân">
          <ul style="padding: 0px !important">
            <li>
              <p>
                <b>Kỹ năng chuyên môn: </b>
              </p>
              <span>
                <p-tag
                  *ngFor="
                    let specialize of getSpecializies(
                      startuperInfo.specialize ?? []
                    )
                  "
                  [value]="specialize"
                ></p-tag>
              </span>
            </li>
            <li>
              <p>
                <b>Kỹ năng mềm nổi bật: </b>
              </p>
              <span>
                <ng-container
                  *ngFor="
                    let personality of getSkills(startuperInfo.skill ?? [])
                  "
                >
                  <p-tag [value]="personality"></p-tag>
                </ng-container>
              </span>
            </li>
            <li>
              <p>
                <b>Tính cách nổi bật: </b>
              </p>
              <span>
                <ng-container
                  *ngFor="
                    let personality of getPersonalities(
                      startuperInfo.personality ?? []
                    )
                  "
                >
                  <p-tag [value]="personality"></p-tag>
                </ng-container>
              </span>
            </li>
            <li>
              <p>
                <b>Thời gian khả dụng: </b>
              </p>
              <span>
                <p-tag
                  :value="{{ getAvailableTime(startuperInfo.availableTime) }}"
                  class="ml-1"
                ></p-tag>
              </span>
            </li>

            <li *ngIf="startuperInfo.job == 1">
              <p>
                <b>Học vấn: </b>
              </p>
            </li>
            <li *ngIf="startuperInfo.job == 1">
              <p>
                <i class="pi pi-building mr-1"></i>
                <b> Trường học: </b> {{ startuperInfo.university }}
              </p>
            </li>
            <li *ngIf="startuperInfo.job == 1">
              <p>
                <i class="pi pi-briefcase mr-1"></i>
                <b> Ngành học: </b> {{ startuperInfo.universitySpecialized }}
              </p>
            </li>
            <li>
              <p>
                <b>Kinh nghiệm làm việc: </b>
                <span *ngIf="listWork.length == 0">Không có</span>
              </p>
              <p *ngFor="let item of listWork; let i = index">
                <span class="color-text">{{ item.position }}</span> tại
                <span class="color-text">{{ item.name }}</span>
                <span
                  *ngIf="item.start || item.end"
                  style="display: flex; margin-bottom: 3px"
                  >{{ getDate(item.start) }} - {{ getDate(item.end) }}</span
                >
              </p>
            </li>
            <li>
              <p>
                <b>Hoạt động xã hội: </b>
                <span *ngIf="startuperInfo.activity; else invalidName">{{
                  startuperInfo.activity
                }}</span>
              </p>
            </li>
            <li>
              <p>
                <b>Chứng chỉ thành tích: </b>
                <span
                  *ngIf="startuperInfo.certificateAndAward; else invalidName"
                  >{{ startuperInfo.certificateAndAward }}</span
                >
                <ng-template #invalidName> Không có </ng-template>
              </p>
            </li>
          </ul>
        </p-tabPanel>
        <p-tabPanel header="Bài viết">
          <p>Bài viết.</p>
        </p-tabPanel>
      </p-tabView>
    </div>
  </div>
  <!-- <p-tabView>
    <p-tabPanel header="Cá nhân">
      <div class="flex w-full flex-column align-items-center">
        <img
          [src]="
            startuperInfo.avatarUrl ??
            'https://fsiconnected.cloud/images/default-avatar.jpg'
          "
          alt=""
          class="w-5"
        />
        <h2>{{ startuperInfo.name }}</h2>
        <p>{{ startuperInfo.describe }}</p>
      </div>
      <div class="mb-3">
        <span *ngIf="startuperInfo.job == 1" class="flex mb-1">
          <span class="flex align-items-center">
            <i class="pi pi-building"></i>
            <p><b>Trường học:</b> {{ startuperInfo.university }}</p>
          </span>
        </span>
        <span *ngIf="startuperInfo.job == 1" class="flex mb-1">
          <span class="flex align-items-center">
            <i class="pi pi-briefcase"></i>
            <p><b>Ngành học:</b> {{ startuperInfo.universitySpecialized }}</p>
          </span>
        </span>

        <span class="flex align-items-center mb-1">
          <i class="pi pi-sort-numeric-up-alt"></i>
          <p><b>Tuổi:</b> {{ getAge(startuperInfo.dateOfBirth) }}</p>
        </span>
        <span class="flex align-items-center mb-1">
          <i class="pi pi-building"></i>
          <p><b>Khu vực:</b> {{ getArea(startuperInfo.location) }}</p>
        </span>
        <span class="flex align-items-center mb-1">
          <i class="pi pi-clock"></i>
          <p>
            <b>Thời gian khả dụng:</b>
            {{ getAvailableTime(startuperInfo.availableTime) }}
          </p>
        </span>

        <span class="flex align-items-center mb-1">
          <i class="pi pi-book"></i>
          <p><b>Lĩnh vực:</b> {{ getField(startuperInfo.field) }}</p>
        </span>

        <span class="flex align-items-center mb-1">
          <i class="pi pi-briefcase"></i>
          <p><b>Kinh nghiệm:</b> {{ getYOE(startuperInfo.yearOfExp) }}</p>
        </span>

        <span class="flex align-items-center mb-2">
          <i class="pi pi-heart"></i>&nbsp;<b>Tính cách nổi bật:</b>
          <span>
            <ng-container
              *ngFor="
                let personality of getPersonalities(
                  startuperInfo.personality ?? []
                )
              "
            >
              <p-tag [value]="personality" class="ml-1"></p-tag>
            </ng-container>
          </span>
        </span>
        <span class="flex align-items-center mb-1">
          <i class="pi pi-thumbs-up"></i>&nbsp;<b>Kỹ năng mềm nổi bật:</b>
          <span>
            <ng-container
              *ngFor="let personality of getSkills(startuperInfo.skill ?? [])"
            >
              <p-tag [value]="personality" class="ml-1"></p-tag>
            </ng-container>
          </span>
        </span>
      </div>
      <div>
        <p-accordion
          class="mt-2"
          style="width: 120%; transform: scale(0.85)"
          [multiple]="true"
        >
          <p-accordionTab header="Kỹ năng chuyên môn">
            <textarea
              [rows]="5"
              [cols]="30"
              pInputTextarea
              [autoResize]="true"
              [(ngModel)]="startuperInfo.speciality"
              class="w-full opacity-100"
              [disabled]="true"
            ></textarea>
          </p-accordionTab>
          <p-accordionTab header="Kinh nghiệm làm việc">
            <app-work-history-summary
              [(ngModel)]="startuperInfo.workingExperience"
              [disabled]="true"
            ></app-work-history-summary>
          </p-accordionTab>
          <p-accordionTab header="Hoạt động khác">
            <textarea
              [rows]="5"
              [cols]="30"
              pInputTextarea
              [autoResize]="true"
              [(ngModel)]="startuperInfo.activity"
              class="w-full opacity-100"
              [disabled]="true"
            ></textarea>
          </p-accordionTab>
          <p-accordionTab header="Thành tích, chứng chỉ">
            <textarea
              [rows]="5"
              [cols]="30"
              pInputTextarea
              [autoResize]="true"
              [(ngModel)]="startuperInfo.certificateAndAward"
              class="w-full opacity-100"
              [disabled]="true"
            ></textarea>
          </p-accordionTab>
        </p-accordion>
      </div>
    </p-tabPanel>
    <p-tabPanel header="Dự án">
      <p-table [value]="listProject">
        <ng-template pTemplate="header">
          <tr>
            <th>Dự án</th>
            <th>Vai trò</th>
            <th>Ngày tham gia</th>
          </tr>
        </ng-template>
        <ng-template pTemplate="body" let-project>
          <tr>
            <td>
              <span class="flex align-items-center">
                <p-avatar
                  shape="square"
                  [image]="
                    project.project.avatarUrl ??
                    'https://fsiconnected.cloud/images/default-avatar.jpg'
                  "
                ></p-avatar>
                <p class="ml-4">{{ project.project.projectName }}</p>
              </span>
            </td>

            <td>{{ projectRoles[project.role] }}</td>
            <td>{{ getDate(project.joinTime) }}</td>
          </tr>
        </ng-template>
        <ng-template pTemplate="emptymessage">
          <tr>
            <td colspan="8">Không tồn tại dữ liệu.</td>
          </tr>
        </ng-template>
      </p-table>
    </p-tabPanel>
  </p-tabView> -->

  <ng-template pTemplate="footer">
    <p-button
      *ngIf="friendStatus == 0"
      label="Kết nối"
      icon="pi pi-share-alt"
      (onClick)="connectOnClick()"
    ></p-button>
    <p-button
      *ngIf="friendStatus == 2"
      label="Hủy kết nối"
      icon="pi pi-times"
      (onClick)="cancelOnClick()"
    ></p-button>
    <p-button
      *ngIf="friendStatus == 3"
      label="Chấp nhận"
      icon="pi pi-check"
      (onClick)="acceptOnClick()"
    ></p-button>
    <p-button
      *ngIf="friendStatus != -1"
      label="Trò chuyện"
      icon="pi pi-comments"
      class="p-button-success"
      (onClick)="chatOnClick()"
    ></p-button>
    <p-button
      *ngIf="friendStatus == -1"
      label="Xóa tài khoản"
      icon="pi pi-times"
      (onClick)="deleteOnClick()"
    ></p-button>
  </ng-template>
</p-dialog>

<ng-container *ngIf="handleConnect">
  <app-modal-connect
    [display]="handleConnect"
    (close)="closeModal()"
    (requestConnect)="requestConnect()"
  ></app-modal-connect>
</ng-container>
