/* p,h1,h2,h3,h4,h5{
  margin: 5px !important;
  text-align: center;
} */

img.avatar {
  box-shadow: 0px 0px 2px 2px #00000011;
  border-radius: 20px;
}

.profile .logo {
  border-radius: 50%;
}

.info {
  margin-left: 16px;
  margin-top: 60px;
}

ul {
  list-style: none;
  margin: 0;
  padding: 8px 0px 8px 0px;
}

li {
  margin: 0;
  padding: 0px 0px 8px 0px;
  color: #000000;
}

p {
  margin-bottom: 4px !important;
  margin-left: 12px !important;
  margin-top: 12px !important;
}

.p-tabview-panels {
  padding-top: 0 !important;
}

.info .name {
  font-size: 1.2rem;
  font-weight: 700;
}

.color-text {
  color: #01a9ff;
}

