<p-dialog header="Đăng ký thông tin" [(visible)]="display" [modal]="true" [style]="{width: '50vw'}" [baseZIndex]="10000"
  [draggable]="false" [resizable]="false" (onHide)="hide()">
  <div class="p-fluid grid">
    <p-card class="col-12 w-full">
      <ng-template pTemplate="content">
        <ng-container [ngSwitch]="activeIndex">
          <ng-container *ngSwitchCase="0">
            <p-avatar image="../../../../assets/img/nmh.png" style="width: 200px;"></p-avatar>
          </ng-container>
          <ng-container *ngSwitchCase="1">
            1111111111111111111111111111111111111111111111111111111
          </ng-container>
          <ng-container *ngSwitchCase="2">
            2222222222222222222222222222222222222222222222222222222
          </ng-container>
          <ng-container *ngSwitchCase="3">
            333333333333333333333333333333333333333333333333333333
          </ng-container>
        </ng-container>
      </ng-template>
      <ng-template pTemplate="footer">
        <div class="flex justify-content-between">
          <span *ngIf="activeIndex == 0" style="visibility: hidden;"></span>
          <p-button *ngIf="activeIndex > 0" label="Trước" (onClick)="back()"
            icon="pi pi-angle-left">
          </p-button>
          <p-button [label]="activeIndex == 3 ? 'Hoàn thành' : 'Tiếp'" (onClick)="next()"
            icon="pi pi-angle-right" iconPos="right">
          </p-button>
        </div>
      </ng-template>
    </p-card>
  </div>
</p-dialog>
