<div [ngClass]="{'headerLogin': true, 'scrolled': isScrolled }">
  <div class="leftDiv">
    <img src="../../../../assets/img/logotitle.png" (click)="toHome()" id="logo" />
    <ng-container *ngFor="let menu of menuData">
      <a [routerLink]="menu.href" [ngClass]="{'active-menu': thisRouteUrl == menu.href}">{{menu.title}}</a>
    </ng-container>
  </div>
  <div class="rightDiv">
    <a class="notification" routerLink="./chat/0/0">
      <i class="pi pi-comments"></i>
    </a>
    <a class="notification" routerLink="#">
      <i class="pi pi-bell"></i>
    </a>
    <a routerLink="#">
      <p-avatar shape="circle" [image]="userInfo?.avatarUrl ?? 'https://fsiconnected.cloud/images/default-avatar.jpg'" (click)="menu.toggle($event)"></p-avatar>
    </a>
  </div>
</div>

<p-menu #menu [popup]="true" [model]="items"></p-menu>

<ng-container *ngIf="isShowUpdateInfo">
  <app-update-user-info [display]="isShowUpdateInfo" (close)="isShowUpdateInfo= false" [userInfo]="userInfo"></app-update-user-info>
</ng-container>
