.headerLogin {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}
/* 
@media (max-width: 576px) {
  .headerLogin #logo {
    width: 4rem;
  }
  .headerLogin .leftDiv {
    column-gap: 5%;
  }
  .headerLogin{
    background: none;
    height: 50px;
  }
  .headerLogin.scrolled {
    height: 50px;
  }
  
}  */


app-header .custom-menu > .p-menu .p-submenu-header{
  padding: 0 !important;
}

app-header .custom-menu > .p-menu .p-menuitem-link {
  text-transform: uppercase;
}
app-header .custom-menu > .p-menu .p-menuitem-link .p-menuitem-text {
  color: #212121 !important;
  font-family: 'NotosansRegular' !important;
}
@media (max-width: 991px) {
app-header .custom-menu > .p-menu .p-menuitem-link .p-menuitem-text {
  font-size: 12px!important;
}
}
app-header .custom-menu > .p-menu .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
  color: #3B82F6 !important;
}

app-header .p-panelmenu .p-panelmenu-header.p-highlight > a {
  background: #fff;
  border-color: #dee2e6;
  color: #212121;
  border-radius: 6px !important;
}

app-header .p-panelmenu .p-panelmenu-header > a {
  padding: 0.75rem 1rem;
  color: #6c757d;
  background: #fff;
  border-radius: 0 !important;
  transition: box-shadow 0.2s;
  border: none !important;
  font-weight: 400;
}


app-header .p-panelmenu .p-panelmenu-content {
  padding: 0;
  border: none;
  background: #ffffff;
  color: #495057;
  margin-bottom: 0;
  border-top: 0;
  border-radius: 0 !important;
}


app-header .p-panelmenu .p-panelmenu-header > a:focus {
  box-shadow: 0 0 0 0;
}
app-header .p-panelmenu .p-panelmenu-header > a:hover .p-menuitem-text  {
  color: #3B82F6;
}
app-header .p-panelmenu .p-panelmenu-header > a:hover .p-panelmenu-icon  {
  color: #3B82F6;
}

app-header .p-panelmenu .p-panelmenu-header.p-highlight > a {
  border-radius: 0 !important;
}

app-header .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link {
  border-radius: 0 !important;
}
app-header .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:focus {
  box-shadow: inset 0 0 0 0;
}
app-header .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:hover .p-menuitem-text {
  color: #3B82F6 !important;
}
app-header .p-panelmenu .p-panelmenu-panel {
  margin-bottom: 0px;
}