.headerLogin {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
}
/* 
@media (max-width: 576px) {
  .headerLogin #logo {
    width: 4rem;
  }
  .headerLogin .leftDiv {
    column-gap: 5%;
  }
  .headerLogin{
    background: none;
    height: 50px;
  }
  .headerLogin.scrolled {
    height: 50px;
  }
  
}  */

.headerLogin a {
  text-decoration: none;
  font-weight: 500;
  text-transform: uppercase;
}


.headerLogin .notification {
  text-decoration: none;
  position: relative;
  display: inline-block;
  font-size: 20px !important;
}

.headerLogin .notification .badge {
  position: absolute;
  bottom: 25px;
  right: -55px;
  margin-right: 50px;
  padding: 2px 2px;
  border-radius: 30%;
  font-size: 10px;
}

.headerLogin a i{
  font-size: 26px;
}

.headerLogin #profileIcon {
  width: 2.5rem;
  filter: brightness(0) invert(1);
}


.headerLogin .dropdown {
display: flex;
flex-direction: column;
row-gap: 1.5rem;
text-align: left;
position: fixed;
background-color: white;
top: 73px;
width: 10rem;
z-index: 1;
border-radius: 5px;
padding: 1.5rem;
box-shadow: 1px 2px 4px rgb(0, 0, 0, 0.1);
  border-top: none;
}
.headerLogin .dropdown a {
  color: black;
  padding: 0px;
}
.headerLogin .dropdown a:hover {
  color: #FAA00F;
}

.headerLogin .dropdown.profile-menu {
  position: fixed;
  right: 3vw;
}

/* headerLogin scrolled */
.headerLogin.scrolled {
  background-color: white !important;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.2);
  background: none;
}
.headerLogin.scrolled i {
  color: black;
  text-decoration: none;
  font-weight: 500;
}
.headerLogin.scrolled a {
  color: black;
  text-decoration: none;
  font-weight: 500;
}

.headerLogin.scrolled #mailIcon {
  filter: brightness(0);
}
.headerLogin.scrolled #bellIcon {
  filter: brightness(0);
}
.headerLogin.scrolled #profileIcon {
  filter: brightness(0);
}


.active-menu{
  color: #1959C7 !important;
  font-weight: bolder;
}

.p-component {
  font-family: 'NotosansRegular' !important;

}


.p-sidebar .p-sidebar-header {
  padding: 0.5rem;

}
.p-sidebar .p-sidebar-content{
  padding-left: 0;
  padding-right: 0;
}
.p-sidebar-header{
  background-image: url('../../../../assets/img/title.png');
  background-repeat: no-repeat;
  background-size: 60%;
  background-position-x: 12px;
  background-position-y: 12px;
}
app-header .custom-menu > .p-menu .p-submenu-header{
  padding: 0 !important;
}

app-header .custom-menu > .p-menu .p-menuitem-link {
  text-transform: uppercase;
}
app-header .custom-menu > .p-menu .p-menuitem-link .p-menuitem-text {
  color: #212121 !important;
  font-family: 'NotosansRegular' !important;
}
@media (max-width: 991px) {
app-header .custom-menu > .p-menu .p-menuitem-link .p-menuitem-text {
  font-size: 12px!important;
}
}
app-header .custom-menu > .p-menu .p-menuitem-link:not(.p-disabled):hover .p-menuitem-text {
  color: #3B82F6 !important;
}

app-header .p-panelmenu .p-panelmenu-header.p-highlight > a {
  background: #fff;
  border-color: #dee2e6;
  color: #212121;
  border-radius: 6px !important;
}

app-header .p-panelmenu .p-panelmenu-header > a {
  padding: 0.75rem 1rem;
  color: #6c757d;
  background: #fff;
  border-radius: 0 !important;
  transition: box-shadow 0.2s;
  border: none !important;
  font-weight: 400;
}


app-header .p-panelmenu .p-panelmenu-content {
  padding: 0;
  border: none;
  background: #ffffff;
  color: #495057;
  margin-bottom: 0;
  border-top: 0;
  border-radius: 0 !important;
}


app-header .p-panelmenu .p-panelmenu-header > a:focus {
  box-shadow: 0 0 0 0;
}
app-header .p-panelmenu .p-panelmenu-header > a:hover .p-menuitem-text  {
  color: #3B82F6;
}
app-header .p-panelmenu .p-panelmenu-header > a:hover .p-panelmenu-icon  {
  color: #3B82F6;
}

app-header .p-panelmenu .p-panelmenu-header.p-highlight > a {
  border-radius: 0 !important;
}

app-header .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link {
  border-radius: 0 !important;
}
app-header .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:focus {
  box-shadow: inset 0 0 0 0;
}
app-header .p-panelmenu .p-panelmenu-content .p-menuitem .p-menuitem-link:hover .p-menuitem-text {
  color: #3B82F6 !important;
}
app-header .p-panelmenu .p-panelmenu-panel {
  margin-bottom: 0px;
}