.login {
  position: fixed;
  width: 100%;
  height: 100%;
  z-index: 1000;
  top: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
}

.login .background {
  background-color: rgba(0, 0, 0, 0.384);
  backdrop-filter: blur(1px);
  width: 100%;
  height: 100%;
  z-index: 1000;
  position: fixed;
}

.login .content {
  height: auto;
  box-sizing: border-box;
  z-index: 1001;
  background-color: white;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  overflow: auto;
}

.login .content .title {
  width: 100%;
  margin-bottom: 5px;
  color: black;
}

.login .content #iconDiv img {
  width: 3rem;
  height: 3rem;
}

.login .content p {
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
  color: black;
}

.login .content h3 {
  font-size: 1.2rem;
  font-weight: 300;
  text-align: center;
  color: green;
}

.login .content .MuiTextField-root {
  width: 100%;
}

.login .content .buttonDiv {
  margin-top: 1rem;
  width: 100%;
}

.login .content .save {
  display: flex;
  justify-content: space-between;
  width: 100%;
}

.login .content .save .checkbox {
  color: black;
}

.login .content .save .help {
  color: #0386FF;
}

.login .content .buttonDiv button{
  width: 100%;
  height: 39px;
  font-size: 14px;
  font-weight: 600;
  background-color: white;
  border-radius: 5px;
}

.login .content #iconDiv img {
  width: 2rem;
  height: 2rem;
  margin-right: 1rem;
}

.login .content .buttonDiv .send {
  border: none;
  background: linear-gradient(90deg, #0386FF 0.09%, #01AAFF 100.05%);
  color: white;
}
.login .content .buttonDiv .send:hover {
  background: linear-gradient(90deg, #0385ff 0.09%, #01AAFF 100.05%);
  opacity: 0.9;
}

.sizes .p-inputtext {
  display: block;
  margin-bottom: .5rem;
}

.sizes .p-inputtext:last-child {
  margin-bottom: 0;
}

/* .p-field * {
  display: block;
} */

.p-field{
  width: 100% !important;
}

.p-field{
  width: 100% !important;
  margin-bottom: 10px;
}

.p-field .p-inputtext{
  width: 100%;
}
