<form [formGroup]="formLogin">
  <div class="login">
    <div class="background" (click)="closeLogin()"></div>
    <div class="content w-12 sm:w-9 md:w-8 lg:w-6 xl:w-5 p-4 lg:p-5">
      <a to="/" class="logoDiv">
        <img src="../../../assets/img/full-logo.png" alt="main logo" height="40px" />
      </a>
      <h3 class="mt-1"><i class="pi pi-user"></i> Đăng nhập</h3>
      <div class="p-field">
        <label class="title">Email hoặc số điện thoại</label>
        <input type="text" class="p-inputtext" pInputText formControlName="username" />
      </div>
      <div class="p-field">
        <label class="title">Mật khẩu</label>
        <span class="p-float-label p-input-icon-right">
          <i *ngIf="isShowPassword" (click)="showPassword()" class="pi pi-eye"></i>
          <i *ngIf="!isShowPassword" (click)="showPassword()" class="pi pi-eye-slash"></i>
          <input *ngIf="!isShowPassword" type="password" pInputText formControlName="password" id="inputtext-right" />
          <input formControlName="password" *ngIf="isShowPassword" type="text" id="inputtext-right" pInputText />
        </span>
      </div>
      <!-- <div class="p-field">
        <label class="title">Vai trò</label>
        <p-selectButton [options]="roles" optionLabel="name" formControlName="role"
          optionValue="value"></p-selectButton>
      </div> -->
      <div class="save text-xs sm:text-sm">
        <div class='checkbox'>
          <p-checkbox class="mr-1" [(ngModel)]="savePassword" [binary]="true" inputId="binary"></p-checkbox> Lưu mật
          khẩu
        </div>
        <div class="help">Quên mật khẩu ?</div>
      </div>

      <div class="buttonDiv">
        <button class="send" (click)="submit()" pRipple>Đăng nhập</button>
      </div>
      <p class="text-green-600 text-xs sm:text-sm">
        Hoặc tiếp tục đăng ký với
      </p>
      <div id="iconDiv">
        <a to="/"><img src="../../../assets/img/facebook.png" alt="" /></a>
        <!-- <a to="/"><img src="../../../assets/img/tik-tok.png" alt="" /></a> -->
        <a to="/"><img src="../../../assets/img/youtube.png" alt="" /></a>
        <a to="/"><img src="../../../assets/img/twitter.png" alt="" /></a>
        <a to="/"><img src="../../../assets/img/linkedin.png" alt="" /></a>
      </div>
      <p class="text-xs sm:text-sm my-1 sm:my-2">
        Bạn chưa có tài khoản?
        <a class="text-primary cursor-pointer">Đăng ký miễn phí ngay</a>
      </p>
      <div>
        <p  class="text-xs sm:text-sm my-1 sm:my-2">
          Trang này được Google reCAPTCHA bảo vệ để đảm bảo bạn
        </p>
        <p  class="text-xs sm:text-sm my-1 sm:my-2">
          không phải là robot.
          <span class="text-primary cursor-pointer  my-1 sm:my-2">Tìm hiểu thêm.</span>
        </p>
      </div>
    </div>
  </div>
</form>