<form [formGroup]="formLogin">
  <div class='login'>
    <div class='background' (click)="closeLogin()"></div>
    <div class='content'>
      <a to="/" class="logoDiv">
        <img src="../../../assets/img/logo.png" alt="main logo" width="30px" height="30px"
          style="margin-right: 10px;" />
        <img src="../../../assets/img/title.png" alt="title" width="150px" height="30px" />
      </a>
      <h3>
        <i class="pi pi-user"></i> Đăng nhập
      </h3>
      <div class="p-field">
        <label class="title">Email hoặc số điện thoại</label>
        <input type="text" class="p-inputtext" pInputText formControlName="username"/>
      </div>
      <div class="p-field">
        <label class="title">Mật khẩu</label>
        <input type="password" class="p-inputtext" pInputText formControlName="password"/>
      </div>
      <!-- <div class="p-field">
        <label class="title">Vai trò</label>
        <p-selectButton [options]="roles" optionLabel="name" formControlName="role"
          optionValue="value"></p-selectButton>
      </div> -->
      <div class='save'>
        <!-- <div class='checkbox'>
          <p-checkbox></p-checkbox> Ghi nhớ tôi
        </div> -->
        <div class='help'>Bạn cần trợ giúp ?</div>
      </div>

      <div class='buttonDiv'>
        <button class='send' (click)="submit()" pRipple>Đăng nhập</button>
      </div>
      <p [style]="{ color: 'green' , fontSize: '1rem' }">Hoặc tiếp tục đăng ký với</p>
      <div id='iconDiv'>
        <a to='/'><img src="../../../assets/img/facebook.png" alt='' /></a>
        <a to='/'><img src="../../../assets/img/tik-tok.png" alt='' /></a>
        <a to='/'><img src="../../../assets/img/youtube.png" alt='' /></a>
        <a to='/'><img src="../../../assets/img/twitter.png" alt='' /></a>
        <a to='/'><img src="../../../assets/img/linkedin.png" alt='' /></a>
      </div>
      <p [style]="{fontSize: '1rem'}">Bạn chưa có tài khoản? <a href='#' [style]="{
          color: '#0386FF' , fontSize: '1rem' , textDecoration: 'none' }">Đăng ký miễn phí ngay</a></p>
      <div>
        <p [style]="{ fontSize: '1rem' }">Trang này được Google reCAPTCHA bảo vệ để đảm bảo bạn</p>
        <p [style]="{ fontSize: '1rem' }">không phải là robot. <span
            [style]="{ color: '#0386FF' , fontSize: '1rem' }">Tìm
            hiểu thêm.</span></p>
      </div>
    </div>
  </div>
</form>
