.founderItem {
  position: relative;
  background-color: white;
  box-shadow: 0px 0px 3px 3px #00000022;
  border-radius: 20px;
  display: flex;
  align-items: flex-start;
  font-size: 0.9rem;
  padding: 4px;
  overflow-y: auto;
}

.founderItem #avatar {
  height: auto;
  width: 45%;
  object-fit: contain;
  padding-right: 4px;
  border-radius: 18px;
  align-self: center;
}

.founderItem .info {
  height: 100%;
  width: 54%;
  margin-left: 4px;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding: 5px;
}

.founderItem .info ul {
  padding-left: 7%;
  display: flex;
  flex-direction: column;
  gap: 7px;
}

.founderItem .info .name {
  font-size: 1.2rem;
  font-weight: 700;
}

.founderItem .info .introduce {
  font-weight: 300;
  height: 40px;
  width: 100%;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

.founderItem #goldOutline {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

#medal{
  position: absolute;
  z-index: 1;
  margin-top: 60px;
}

.likes__wrapper{
  display:flex;
  align-content:center;
  justify-content:center;

}
.likes__relavance{
  position:relative;
  padding:0 80px;
}
.likes__list{
  position:absolute;
  box-sizing: border-box;
  overflow-y:scroll;
  max-height:150px;
  left:0%;
  z-index:999;
  background:white;
  padding:10px;
  border:1px solid grey;
  box-shadow: 0 0 2px 2px grey;
}

.founderItem .hoverDiv {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 17px;
  width: 100%;
  height: 100%;
  background-color: #000000a4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1.5rem;
}
.founderItem .hoverDiv button {
  cursor: pointer;
  width: 40%;
  height: 3rem;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  border-radius: 30px;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5%;
  color: white;
}
.founderItem .hoverDiv button:hover {
  filter: brightness(0.9);
}
.founderItem .hoverDiv button:active {
  filter: brightness(0.8);
}
.founderItem .hoverDiv #xemthem{
  border-style: solid;
  border-width: 1px;
}
.founderItem .hoverDiv #ketnoi {
  background: linear-gradient(90deg, #0386FF 0%, #01AAFF 100%, #01AAFF 100%);
}

