<div
  class="founderItem"
  (mouseenter)="isHovered = true"
  (mouseleave)="isHovered = false"
>
  <div class="grid info">
    <div class="col-5 md-5">
      <img
        [src]="
          startuper.avatarUrl ??
          'https://fsiconnected.cloud/images/default-avatar.jpg'
        "
        alt=""
        id="avatar"
      />
    </div>
    <div class="col-7 md-7">
      <ul>
        <li>
          <div class="name">{{ startuper.name }}</div>
        </li>
        <li>
          <i class="pi pi-search"></i>
          <b> {{ getPurpose(startuper.purpose) }}</b>
        </li>
        <li>
          <i class="pi pi-calendar"></i>
          <b> {{ getDate(startuper.dateOfBirth) }}</b>
        </li>
        <li>
          <i class="pi pi-map-marker"></i>
          <b> {{ getArea(startuper.location) }}</b>
        </li>
      </ul>
    </div>
  </div>
  <div>
    <ul>
      <li>
        <p><b>Chuyên môn của tôi</b></p>
        <span>
          <p-tag
            *ngFor="
              let specialize of getSpecializies(startuper.specialize ?? [])
            "
            [value]="specialize"
            styleClass="mr-1 mt-1"
            [rounded]="true"
          ></p-tag>
        </span>
      </li>
      <li *ngIf="startuper.purpose == 1">
        <p><b>Lĩnh vực của ý tưởng</b></p>
        <span>
          <p-tag
            *ngFor="let ideaField of getIdeaField(startuper.ideaField ?? [])"
            [value]="ideaField"
            styleClass="mr-1 mt-1"
            [rounded]="true"
          ></p-tag>
        </span>
      </li>
      <li *ngIf="startuper.purpose == 1">
        <p><b>Tôi muốn tìm người có chuyên môn</b></p>
        <span>
          <p-tag
            *ngFor="
              let targetSpecialize of getTargetSpecializies(
                startuper.targetSpecialize ?? []
              )
            "
            [value]="targetSpecialize"
            styleClass="mr-1 mt-1"
            [rounded]="true"
          ></p-tag>
        </span>
      </li>
      <li *ngIf="startuper.purpose == 4">
        <p><b>Lĩnh vực của dự án</b></p>
        <span>
          <p-tag
            *ngFor="
              let targetField of getTargetField(startuper.targetField ?? [])
            "
            [value]="targetField"
            styleClass="mr-1 mt-1"
            [rounded]="true"
          ></p-tag>
        </span>
      </li>
      <li *ngIf="startuper.purpose == 2">
        <p><b>Lĩnh vực của ý tưởng</b></p>
        <span>
          <p-tag
            *ngFor="
              let targetField of getTargetField(startuper.targetField ?? [])
            "
            [value]="targetField"
            styleClass="mr-1 mt-1"
            [rounded]="true"
          ></p-tag>
        </span>
      </li>
      <li *ngIf="startuper.purpose == 0">
        <p><b>Thời gian khả dụng</b></p>
        <span>
          <p-tag
            :value="{{ getAvailableTime(startuper.availableTime) }}"
            class="ml-1"
          ></p-tag>
        </span>
      </li>
      <!-- <li>
        <p><b>Lĩnh vực</b></p>
        <span>
          <p-tag :value="{{ getField(startuper.field) }}" class="ml-1"></p-tag>
        </span>
      </li> -->
      <!-- <li>Độ tuổi: {{getAge(startuper.dateOfBirth)}}</li>
      <li>Khu vực: {{getArea(startuper.location)}}</li>
      <li>Lĩnh vực: {{getField(startuper.field)}}</li>
      <li>Kinh nghiệm: {{getYOE(startuper.yearOfExp)}}</li>
      <li>Tính cách: {{getPersonalities(startuper.personality??[])}}</li>
      <li>Kỹ năng mềm: {{getSkills(startuper.skill??[])}}</li>
      <li>Thời gian khả dụng: {{getAvailableTime(startuper.availableTime)}}</li> -->
    </ul>
  </div>

  <div *ngIf="isHovered" class="hoverDiv">
    <button type="button" id="xemthem" (click)="showUserDetail()">
      <i class="pi pi-eye"></i> Xem thêm
    </button>
    <button
      *ngIf="mode == UuidStartuperModeNew"
      type="button"
      id="ketnoi"
      (click)="requestFriendOnClick()"
    >
      <i class="pi pi-share-alt"></i> Kết nối
    </button>
    <button
      *ngIf="
        mode != UuidStartuperModeNew &&
        mode != UuidStartuperModeOFMe &&
        mode != UuidStartuperModeFromMe &&
        mode != UuidStartuperModeToMe &&
        mode != UuidStartuperModeAdmin
      "
      type="button"
      id="ketnoi"
      (click)="requestFromProjectOnClick()"
    >
      <i class="pi pi-send"></i> Mời tham gia
    </button>
    <button
      *ngIf="mode == UuidStartuperModeOFMe"
      type="button"
      id="ketnoi"
      (click)="openChatOnClick()"
    >
      <i class="pi pi-comments"></i> Trò chuyện
    </button>
    <button
      *ngIf="mode == UuidStartuperModeFromMe"
      type="button"
      id="ketnoi"
      (click)="cancelRequestOnClick()"
    >
      <i class="pi pi-times"></i> Hủy kết nối
    </button>
    <button
      *ngIf="mode == UuidStartuperModeToMe"
      type="button"
      id="ketnoi"
      (click)="acceptRequestOnClick()"
    >
      <i class="pi pi-check"></i> Chấp nhận
    </button>

    <button
      *ngIf="mode == UuidStartuperModeAdmin"
      type="button"
      id="ketnoi"
      (click)="deleteOnClick()"
    >
      <i class="pi pi-times"></i> Xóa tài khoản
    </button>
  </div>
</div>
