.founderItem {
  position: relative;
  background-color: white;
  box-shadow: 0px 0px 3px 3px #00000022;
  border-radius: 20px;
  height: 100%;
}

p {
  margin-bottom: 4px !important;
  margin-left: 12px !important;
  margin-top: 12px !important;
}

.founderItem #avatar {
  height: 93px;
  width: 93px;
  border-radius: 50%;
  margin-top: 12px;
  margin-left: 12px;
  margin-right: 12px;
}

.founderItem ul {
  list-style: none;
}

.founderItem .info ul {
  margin: 0;
  padding: 8px 0px 8px 0px;
}

.founderItem .info li {
  margin: 0;
  padding: 0px 0px 8px 0px;
}

.founderItem .info .name {
  font-size: 1.2rem;
  font-weight: 700;
}

.founderItem #goldOutline {
  position: absolute;
  bottom: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.founderItem .hoverDiv {
  position: absolute;
  top: 0px;
  left: 0px;
  border-radius: 17px;
  width: 100%;
  height: 100%;
  background-color: #000000a4;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  row-gap: 1.5rem;
}
.founderItem .hoverDiv button {
  cursor: pointer;
  width: 40%;
  height: 3rem;
  font-weight: bold;
  font-size: 1rem;
  text-align: center;
  border-radius: 30px;
  background: none;
  border: none;
  display: flex;
  justify-content: center;
  align-items: center;
  column-gap: 5%;
  color: white;
}
.founderItem .hoverDiv button:hover {
  filter: brightness(0.9);
}
.founderItem .hoverDiv button:active {
  filter: brightness(0.8);
}
.founderItem .hoverDiv #xemthem {
  border-style: solid;
  border-width: 1px;
}
.founderItem .hoverDiv #ketnoi {
  background: linear-gradient(90deg, #0386ff 0%, #01aaff 100%, #01aaff 100%);
}

.col-4 {
  padding: 0 !important;
}

.col-8 {
  padding: 0 !important;
}

.col-12 {
  padding: 0px !important;
}

.grid {
  margin: 0px !important;
}

@media (max-width: 576px) {
  .founderItem .info ul {
    margin: 0;
    padding: 0px 0px 8px 8px;
  }
  /* .founderItem #avatar {
    height: 52px;
    width: 52px;
    margin-top: 12px !important;
    margin-left: 12px !important;
    margin-right: 12px !important;
  } */
}

@media (min-width: 576px) and (max-width: 767px) {
  .founderItem .info ul {
    margin: 0;
    padding: 0px 0px 8px 8px;
  }
  /* .founderItem #avatar {
    height: 52px;
    width: 52px;
    margin-top: 12px !important;
    margin-left: 12px !important;
    margin-right: 12px !important;
  } */
}

@media (max-width: 1820px) {
  .founderItem .info ul {
    margin: 0;
    padding: 12px 0px 8px 12px;
  }

  .founderItem #avatar {
    height: 93px;
    width: 93px;
    border-radius: 50%;
    margin-top: 12px;
    margin-left: 16px;
    margin-right: 12px;
  }
}
