<div class="founderItem flex flex-column border-1 border-gray-200 shadow-3 bg-white relative p-3"
  (mouseenter)="isHovered = true" (mouseleave)="isHovered = false">
  <div class="flex flex-row w-full" style="border-bottom: 1px solid #b9b3b0;">
    <div class="w-5rem h-5rem mr-2">
      <img class="border-circle bg-white h-full w-full border-1 border-gray-200 w-5rem h-5rem"
        [src]="startuper.avatarUrl " alt="">
    </div>
    <div class="w-auto flex flex-column">
      <span class="font-semibold text-sm mb-1">{{ startuper.name}}</span>
      <span class="my-1">
        <img src="../././../../../assets/icons/Crosshairs.svg" alt="">

        {{ getPurpose(startuper.purpose) }}
      </span>
      <span class="my-1">
        <img src="../././../../../assets/icons/University.svg" alt="">

        {{ startuper.university }}
      </span>
      <span class="my-1">
        <img src="../././../../../assets/icons/Calendar.svg" alt="">
        {{ getDate(startuper.dateOfBirth) }}
      </span>
      <span class="my-1">
        <img src="../././../../../assets/icons/Positon.svg" alt="">
        {{ getArea(startuper.location) }}
      </span>
    </div>
  </div>
  <div class="flex flex-column mt-2">
    <div class="flex flex-column">
      <span class="mb-1"><b>Kỹ năng chuyên môn của tôi</b></span>
      <span>
        <p-tag *ngFor="
                let specialize of getSpecializies(startuper.specialize ?? [])
              " [value]="specialize"></p-tag>
      </span>
    </div>
    <div class="flex flex-column" *ngIf="startuper.ideaField?.length !== 0 && startuper.purpose == 1">
      <span class="my-2"><b>Ý tưởng của tôi thuộc lĩnh vực</b></span>
      <span>
        <p-tag *ngFor="let ideaField of getIdeaField(startuper.ideaField ?? [])" [value]="ideaField"></p-tag>
      </span>
    </div>
    <div class="flex flex-column" *ngIf="startuper.targetSpecialize?.length !== 0 && startuper.purpose == 1">
      <span class="mb-1"><b>Tôi muốn tìm người có chuyên môn</b></span>
      <span>
        <p-tag *ngFor="
                let targetSpecialize of getTargetSpecializies(
                  startuper.targetSpecialize ?? []
                )
              " [value]="targetSpecialize"></p-tag>
      </span>
    </div>
    <div class="flex flex-column"
      *ngIf="startuper.targetField?.length !== 0 &&  (startuper.purpose == 2 ||startuper.purpose == 4)">
      <span class="mb-1"><b>Lĩnh vực tôi quan tâm</b></span>
      <span>
        <p-tag *ngFor="
                let targetField of getTargetField(startuper.targetField ?? [])
              " [value]="targetField"></p-tag>
      </span>
    </div>

    <div class="flex flex-column" *ngIf="startuper.availableTime">
      <span class="mb-1"><b>Thời gian khả dụng</b></span>
      <span>
        <p-tag :value="{{ getAvailableTime(startuper.availableTime) }}"></p-tag>
      </span>
    </div>
  </div>

  <div *ngIf="isHovered" class="hoverDiv">
    <button *ngIf="mode == UuidStartuperModeFromMe" type="button" id="ketnoi" (click)="openChatOnClick()">
      <i class="pi pi-comments" style="margin-right: 4px"></i> Trò chuyện
    </button>
    <button *ngIf="mode == UuidStartuperModeToMe" type="button" id="ketnoi" (click)="acceptRequestOnClick()">
      <i class="pi pi-check"></i> Chấp nhận
    </button>
    <button type="button" id="xemthem" (click)="showUserDetail()">
      <i class="pi pi-eye" style="margin-right: 4px"></i> Xem thêm
    </button>
    <button *ngIf="mode == UuidStartuperModeNew" type="button" id="ketnoi" (click)="requestFriendOnClick()">
      <i class="pi pi-share-alt" style="margin-right: 4px"></i> Kết nối
    </button>
    <button *ngIf="
        mode != UuidStartuperModeNew &&
        mode != UuidStartuperModeOFMe &&
        mode != UuidStartuperModeFromMe &&
        mode != UuidStartuperModeToMe &&
        mode != UuidStartuperModeAdmin
      " type="button" id="ketnoi" (click)="requestFromProjectOnClick()">
      <i class="pi pi-send" style="margin-right: 4px"></i> Mời tham gia
    </button>
    <button *ngIf="mode == UuidStartuperModeOFMe" type="button" id="ketnoi" (click)="openChatOnClick()">
      <i class="pi pi-comments" style="margin-right: 4px"></i> Trò chuyện
    </button>
    <button *ngIf="mode == UuidStartuperModeFromMe || mode == UuidStartuperModeToMe" type="button" id="xemthem"
      (click)="openRequest()">
      <i class="pi pi-envelope" style="margin-right: 4px"></i>Xem lời mời
    </button>
    <button *ngIf="mode == UuidStartuperModeToMe" type="button" id="xemthem">
      <i class="pi pi-times" style="margin-right: 4px"></i> Từ chối
    </button>
    <button *ngIf="mode == UuidStartuperModeFromMe" type="button" id="xemthem" (click)="cancelRequestOnClick()">
      <i class="pi pi-times" style="margin-right: 4px"></i> Thu hồi lời mời
    </button>

    <button *ngIf="mode == UuidStartuperModeAdmin" type="button" id="ketnoi" (click)="deleteOnClick()">
      <i class="pi pi-times" style="margin-right: 4px"></i> Xóa tài khoản
    </button>
  </div>
</div>
<ng-container *ngIf="handleConnect">
  <app-modal-connect [display]="handleConnect" (close)="closeModal()"
    (requestConnect)="requestConnect()"></app-modal-connect>
</ng-container>

<ng-container *ngIf="handleOpenRequest">
  <app-modal-detail-connect [display]="handleOpenRequest" [mode]="mode"
    (close)="closeModalOpen()"></app-modal-detail-connect>
</ng-container>