.project-work-header{
  display: flex;
  align-items: center;
  justify-content: space-between;
}


.work-column {
  height: 100%;
  border: 1px solid #ddd;
  border-radius: 4px;
  display: flex;
  flex-direction: column;
  background-color: #F4F5F7;
}

.work-column-header{
  width: 100%;
  height: 40px;
  border-bottom: 1px solid #ddd;
}

.work-column-header h4{
  margin-top: 4px !important;
  margin-left: 4px !important;
}

.work-list{
  width: 100%;
  height: calc(100% - 40px);
  overflow-y: auto;
  padding-top: 2px;
  padding-bottom: 10px;
}

/* .work-item{
  width: calc(100% - 20px);
  height: 200px;
  border-radius: 6px;
  box-shadow: 0px 0px 2px 2px rgba(0, 0, 0, 0.1);
  margin-top: 10px;
  margin-left: 6px;
  background-color: #fff;
  cursor: pointer;
  padding: 18px;
} */

.work-item:hover{
  background-color: #f8f9fa;
}

.work-item i{
  margin-bottom: 2px;
}

::-webkit-scrollbar {
  width: 8px;
  background-color: #F1F1F1;
}

::-webkit-scrollbar-thumb {
  background-color: #B8BCC3;
}

::-webkit-scrollbar-thumb:hover {
  background-color: #888888;
}

::-webkit-scrollbar:horizontal {
  height: 8px;
  background-color: #F1F1F1;
}

::-webkit-scrollbar-thumb:horizontal {
  background: #B8BCC3;
}

::-webkit-scrollbar-thumb:horizontal:hover {
  background: #888888;
}
/* 
.p-multiselect {
  width: 100% !important;
}

.p-dropdown {
  height: 37px !important;
}

.p-dropdown {
  width: 100%;
} */
.p-dropdown {
    height: 37px !important;
}

.p-dropdown {
    width: 100%;
}
.p-dropdown-panel .p-dropdown-items .p-dropdown-item {
  padding: 0.5rem 1rem;
}