<p-dialog [resizable]="true" header="Cập nhật thông tin cá nhân" [(visible)]="display" [modal]="true"
  [style]="{width: '50vw'}" [baseZIndex]="10000" [draggable]="false" (onHide)="close.emit()">
  <div class="p-fluid grid">
    <p-card class="col-12 w-full">
      <ng-template pTemplate="content">
        <p-steps [model]="steps" [readonly]="false" [(activeIndex)]="activeIndex"></p-steps>
        <br>
        <ng-container [ngSwitch]="activeIndex">
          <ng-container *ngSwitchCase="0">
            <p-divider align="left"> <b>Tải lên ảnh đại diện mới</b> </p-divider>
            <input type="file" (change)="fileChangeEvent($event)" />

            <div class="image-cropper-wrapper">
              <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="1"
                format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded($event)"
                (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper>
            </div>

            <img class="preview-image" [src]="croppedImage" />
          </ng-container>
          <ng-container *ngSwitchCase="1">
            <form [formGroup]="formBaseInfo">
              <div class="p-fluid grid">
                <div class="p-field col-12 md-12">
                  <span class="p-float-label">
                    <input type="text" pInputText formControlName="name" />
                    <label>Họ và tên:
                    </label>
                  </span>
                </div>
                <div class="p-field col-12 md-12">
                  <span class="p-float-label">
                    <p-calendar appendTo="body" formControlName="dateOfBirth"></p-calendar>
                    <label>Ngày sinh:
                    </label>
                  </span>
                </div>
                <div class="p-field col-3 md-3">
                  <label class="title">Giới tính</label>
                  <p-selectButton [options]="genders" optionLabel="name" formControlName="gender" optionValue="value"></p-selectButton>
                </div>
                <div class="p-field col-12 md-12">
                  <span class="p-float-label">
                    <input type="text" pInputText formControlName="email" />
                    <label>Email:
                    </label>
                  </span>
                </div>
                <div class="p-field col-12 md-12">
                  <span class="p-float-label">
                    <input type="text" pInputText formControlName="phoneNumber" />
                    <label>Số điện thoại:
                    </label>
                  </span>
                </div>
                <div class="p-field col-12 md-12">
                  <span class="p-float-label">
                    <input type="text" pInputText formControlName="identityCard" />
                    <label>Căn cước công dân:
                    </label>
                  </span>
                </div>
                <div class="p-field col-12 md-12">
                  <span class="p-float-label">
                    <p-dropdown [autoDisplayFirst]="false" [options]="areas" optionValue="value" optionLabel="name"
                      formControlName="location"></p-dropdown>
                    <label>Khu vực:
                    </label>
                  </span>
                </div>
                <div class="p-field col-12 md-12">
                  <label class="title">Chức danh nghề nghiệp<span style="color: red;">*</span></label>
                  <p-dropdown [options]="jobs" optionValue="value" optionLabel="name" [style]="{'width': '100%'}" [autoDisplayFirst]="false" formControlName="job"></p-dropdown>
                </div>
                <div class="p-field col-12 md-12">
                  <span class="p-float-label">
                    <input type="text" pInputText formControlName="workingPlace" />
                    <label>Nơi làm việc:
                    </label>
                  </span>
                </div>
              </div>
            </form>

          </ng-container>

          <ng-container *ngSwitchCase="2">
            <form [formGroup]="formStartuperInfo">
              <div class="p-fluid grid">
                <div class="p-field col-12 md-12">
                  <span class="p-float-label">
                    <textarea [rows]="5" pInputTextarea formControlName="describe"></textarea>
                    <label>Mô tả thêm, slogan của bản thân: <span style="color: red;">*</span>
                    </label>
                  </span>
                </div>
                <div class="p-field col-12 md-12">
                  <span class="p-float-label">
                    <p-dropdown [options]="fields" optionValue="value" optionLabel="name" formControlName="field"
                      [autoDisplayFirst]="false" emptyMessage="Chọn 1"></p-dropdown>
                    <label>Bạn đang hoạt động/Làm việc trong lĩnh vực nào?: <span style="color: red;">*</span>
                    </label>
                  </span>
                </div>
                <div class="p-field col-12 md-12">
                  <span class="p-float-label">
                    <p-dropdown [options]="yearOfExps" [autoDisplayFirst]="false" optionValue="value" optionLabel="name"
                      formControlName="yearOfExp" emptyMessage="Chọn 1"></p-dropdown>
                    <label>Số năm kinh nghiệm trong lĩnh vực: <span style="color: red;">*</span>
                    </label>
                  </span>
                </div>
                <div class="p-field col-12 md-12">
                  <span class="p-float-label">
                    <textarea [rows]="5" pInputTextarea formControlName="speciality"></textarea>
                    <label>Kỹ năng chuyên môn của bạn: <span style="color: red;">*</span>
                    </label>
                  </span>
                </div>
                <div class="p-field col-12 md-12">
                  <span class="p-float-label">
                    <p-dropdown [options]="availableTimes" [autoDisplayFirst]="false" optionValue="value"
                      optionLabel="name" formControlName="availableTime" emptyMessage="Chọn 1"></p-dropdown>
                    <label>Bạn có thể dành tối thiểu bao nhiêu thời gian để làm việc trong một dự án?: <span style="color: red;">*</span>
                    </label>
                  </span>
                </div>
                <div class="p-field col-12 md-12">
                  <span class="p-float-label">
                    <p-multiSelect optionLabel="name" optionValue="value" [selectionLimit]="5" appendTo="body"
                      [options]="personalities" defaultLabel="Chọn tối đa 5 tính cách" optionLabel="name"
                      formControlName="personality">
                    </p-multiSelect>
                    <label>Hãy lựa chọn 3 từ mô tả đúng nhất về tính cách của bạn: <span style="color: red;">*</span>
                    </label>
                  </span>
                </div>
                <div class="p-field col-12 md-12">
                  <span class="p-float-label">
                    <p-multiSelect optionLabel="name" optionValue="value" [selectionLimit]="3" appendTo="body"
                      [options]="skills" defaultLabel="Chọn tối đa 5 tính cách" optionLabel="name"
                      formControlName="skill">
                    </p-multiSelect>
                    <label>Hãy lựa chọn 3 kỹ năng mềm của bản thân mà bạn tâm đắc nhất: <span style="color: red;">*</span>
                    </label>
                  </span>
                </div>
                <div class="p-field col-12 md-12">
                  <span class="p-float-label">
                    <textarea [rows]="5" pInputTextarea formControlName="workingExperience"></textarea>
                    <label>Kinh nghiệm làm việc(bao gồm: tổ chức, vị trí, khoảng thời gian): <span style="color: red;">*</span>
                    </label>
                  </span>
                </div>
                <div class="p-field col-12 md-12">
                  <span class="p-float-label">
                    <textarea [rows]="5" pInputTextarea formControlName="activity"></textarea>
                    <label> Các hoạt động xã hội, từ thiện, tình nguyện khác... (bao gồm: Tổ chức, vị trí, khoảng thời gian): <span style="color: red;">*</span>
                    </label>
                  </span>
                </div>
                <div class="p-field col-12 md-12">
                  <span class="p-float-label">
                    <textarea [rows]="5" pInputTextarea formControlName="certificateAndAward"></textarea>
                    <label>Chứng chỉ, thành tích: <span style="color: red;">*</span>
                    </label>
                  </span>
                </div>
              </div>
            </form>
          </ng-container>

          <ng-container *ngSwitchCase="3">
            <form [formGroup]="formChangePassword">
              <div class="p-fluid grid">
                <div class="p-field col-12 md-12">
                  <span class="p-float-label">
                    <input type="password" pInputText formControlName="oldPassword" />
                    <label>Nhập mật khẩu:
                    </label>
                  </span>
                </div>
                <div class="p-field col-12 md-12">
                  <span class="p-float-label">
                    <input type="password" pInputText formControlName="newPassword" />
                    <label>Nhập mật khẩu mới:
                    </label>
                  </span>
                </div>
                <div class="p-field col-12 md-12">
                  <span class="p-float-label">
                    <input type="password" pInputText formControlName="reNewPassword" />
                    <label>Nhập lại mật khẩu mới:
                    </label>
                  </span>
                </div>
              </div>
            </form>
          </ng-container>
        </ng-container>
      </ng-template>
      <ng-template pTemplate="footer">
        <div class="flex justify-content-end">
          <p-button label="Cập nhật" styleClass="p-button-success" (onClick)="save()">
          </p-button>
        </div>
      </ng-template>
    </p-card>
  </div>
</p-dialog>
