<p-dialog [resizable]="true" header="Tạo mới dự án" [(visible)]="display" [modal]="true" [style]="{width: '50vw'}"
  [baseZIndex]="10000" [draggable]="false" (onHide)="hide()">
  <div class="p-fluid grid">
    <p-card class="col-12 w-full">
      <ng-template pTemplate="content">
        <ng-container [ngSwitch]="activeIndex">
          <ng-container *ngSwitchCase="0">
            <form [formGroup]="formProject">
              <div class="p-fluid grid">
                <div class="p-field col-12 md-12">
                  <span class="p-float-label">
                    <input type="text" pInputText formControlName="projectName" />
                    <label>Tên dự án: <span style="color: red;">*</span>
                    </label>
                  </span>
                </div>
                <div class="p-field col-12 md-12">
                  <span class="p-float-label">
                    <textarea [rows]="5" pInputTextarea formControlName="description"></textarea>
                    <label>Mô tả chi tiết về dự án: <span style="color: red;">*</span>
                    </label>
                  </span>
                </div>
                <div class="p-field col-12 md-12">
                  <span class="p-float-label">
                    <p-multiSelect optionLabel="name" optionValue="value" appendTo="body" [options]="fields"
                      optionLabel="name" formControlName="fields">
                    </p-multiSelect>
                    <label>Lĩnh vực của dự án: <span style="color: red;">*</span>
                    </label>
                  </span>
                </div>
                <div class="p-field col-12 md-12">
                  <span class="p-float-label">
                    <p-dropdown [autoDisplayFirst]="false" [options]="projectStages" optionValue="value"
                      optionLabel="name" formControlName="stage"></p-dropdown>
                    <label>Giai đoạn hiện tại của dự án: <span style="color: red;">*</span>
                    </label>
                  </span>
                </div>
                <div class="p-field col-12 md-12">
                  <span class="p-float-label">
                    <p-calendar appendTo="body" formControlName="foundedTime"></p-calendar>
                    <label>Thời gian thành lập: <span style="color: red;">*</span>
                    </label>
                  </span>
                </div>
                <div class="p-field col-12 md-12">
                  <span class="p-float-label">
                    <p-dropdown [autoDisplayFirst]="false" [options]="areas" optionValue="value" optionLabel="name"
                      formControlName="area"></p-dropdown>
                    <label>Khu vực: <span style="color: red;">*</span>
                    </label>
                  </span>
                </div>
                <div class="p-field col-12 md-12">
                  <span class="p-float-label">
                    <input type="text" pInputText formControlName="website" />
                    <label>Website:
                    </label>
                  </span>
                </div>
                <div class="p-field col-12 md-12">
                  <span class="p-float-label">
                    <input type="text" pInputText formControlName="fb" />
                    <label>Facebook:
                    </label>
                  </span>
                </div>
              </div>
            </form>

          </ng-container>
          <ng-container *ngSwitchCase="1">
            <p-divider align="left"> <b>Tải lên ảnh đại diện</b> </p-divider>
            <input type="file" (change)="fileChangeEvent($event)" />

            <div class="image-cropper-wrapper">
              <image-cropper [imageChangedEvent]="imageChangedEvent" [maintainAspectRatio]="true" [aspectRatio]="1"
                format="png" (imageCropped)="imageCropped($event)" (imageLoaded)="imageLoaded($event)"
                (cropperReady)="cropperReady()" (loadImageFailed)="loadImageFailed()"></image-cropper>
            </div>

            <img class="preview-image" [src]="croppedImage" />
          </ng-container>
        </ng-container>
      </ng-template>
      <ng-template pTemplate="footer">
        <div class="flex justify-content-between">
          <span *ngIf="activeIndex == 0" style="visibility: hidden;"></span>
          <p-button *ngIf="activeIndex > 0" label="Trước" (onClick)="back()" icon="pi pi-angle-left">
          </p-button>
          <p-button [label]="activeIndex == 1 ? 'Hoàn thành' : 'Tiếp'" (onClick)="next()" icon="pi pi-angle-right"
            iconPos="right">
          </p-button>
        </div>
      </ng-template>
    </p-card>
  </div>
</p-dialog>
