.function-recruit{
    display: hidden !important;
}
.container-recruit:hover .function-recruit {
    display: block;
  }
  .p-dialog .p-dialog-content {
    padding: 0 1.5rem 0rem 1.5rem;
    border-bottom: 2rem solid #fff;
}