.post-item {
  /* min-height: 200px; */
  height: auto;
  background-color: #fff;
  border-radius: 15px;
  border: 1px solid #CED4DA;
  box-shadow: 0px 3px 3px #00000011;
  font-weight: 500;
  margin-bottom: 10px;
}

p {
  margin: 0px;
  margin-bottom: 3px;
}


.avatar-content {
  border-radius: 20px;
  box-shadow: 0px 0px 3px 3px #00000011;
}
