<div class='footer'>
  <div class='column1'>
      <div id='logotitle'><img src="../../../../assets/img/logotitle.png" alt='' width='180px' height='138px' /></div>
      <div id='companyInfo'>Công ty Cổ phần FSI Connected - Trụ sở chính: 456 Minh Khai, quận Hai Bà Trưng, thành phố Hà Nội, Việt Nam.</div>
      <div>Văn phòng đại diện: Tòa nhà R3, Vinhomes Royal City , số 72A Nguyễn Trãi, phường Thượng Đình, Quận Thanh Xuân, TP. Hà Nội.
          Giấy chứng nhận đăng kí doanh nghiệp số bao nhiêu đấy chưa biết do Sở Kế hoạch và Đầu tư Thành phố Hà Nội cấp ngày bao nhiêu đấy cũng chưa biết.</div>
      <div id='email'><span>EMAIL:</span> support@fsiconnected.com</div>
      <div id='hotline'><span>HOTLINE:</span> (+84) 343 954 599</div>
      <div id='copyright'> Bảo lưu bản quyền © 2022 Công ty Cổ phần FSI Connected. </div>
  </div>
  <div class='column2'>
      <div class='title'>FSI Connected</div>
      <a routerLink='/'>Về chúng tôi</a>
      <a routerLink='/'>Liên hệ</a>
      <a routerLink='/'>Hỏi đáp</a>
      <a routerLink='/'>Tin tức</a>
  </div>
  <div class='column2'>
      <div class='title'>Giải pháp</div>
      <a routerLink='/'>Kết nối</a>
      <a routerLink='/'>Đào tạo</a>
      <a routerLink='/'>Biểu phí</a>
      <a routerLink='/'>Cộng đồng</a>
      <a routerLink='/'>Cộng tác viên</a>
  </div>
  <div class='column2'>
      <div class='title'>Pháp lý</div>
      <a routerLink='/'>Điều khoản sử dụng</a>
      <a routerLink='/'>Chính sách bảo mật</a>
  </div>
  <div class='column3'>
      <div class='title' id='title1'>Theo dõi chúng tôi</div>
      <div id='iconDiv'>
          <a routerLink='/'><img src="../../../../assets/img/facebook.png"alt='' width='25px' height='25px' /></a>
          <a routerLink='/'><img src="../../../../assets/img/tik-tok.png" alt='' width='25px' height='25px'/></a>
          <a routerLink='/'><img src="../../../../assets/img/youtube.png" alt='' width='25px' height='25px'/></a>
          <a routerLink='/'><img src="../../../../assets/img/twitter.png" alt='' width='25px' height='25px'/></a>
          <a routerLink='/'><img src="../../../../assets/img/linkedin.png" alt='' width='25px' height='25px'/></a>
      </div>
  </div>
</div>
