<div class='footer grid  px-0 mx-2 md:mx-4 lg:mx-6 xl:mx-7'>
  <div class='col-12 sm:col-4 lg:col-4'>
      <div class="w-full max-w-20rem" id='logotitle'><img src="../../../../assets/img/full-logo.png" alt='' class='h-full w-full' style="object-fit: contain;" /></div>
      <div id='companyInfo' class="mb-3 text-xs lg:text-sm">Công ty Cổ phần FSI Connected - Trụ sở chính: 456 Minh Khai, quận Hai Bà Trưng, thành phố Hà Nội, Việt Nam.</div>
      <div  class="mb-3 text-xs lg:text-sm">Văn phòng đại diện: tòa nhà R3, khu đô thị Vinhomes Royal City , số 72A Nguyễn Trãi, phường Thượng Đình, quận Thanh Xuân, thành phố Hà Nội.</div>
      <div id='email' class="mb-3 text-xs lg:text-sm"><span class="text-primary">EMAIL:</span> support@fsiconnected.com</div>
      <div id='hotline' class="mb-3 text-xs lg:text-sm"><span class="text-primary">HOTLINE:</span> (+84) 343 954 599</div>
      <div id='copyright' class="text-xs lg:text-sm"> Bảo lưu bản quyền © 2022 Công ty Cổ phần FSI Connected. </div>
  </div>
  <div class='col-12 sm:col-2 flex flex-column'>
      <div class='title text-base lg:text-xl text-primary mb-1 sm:mb-3'>FSI Connected</div>
      <span class="cursor-pointer hover:text-primary text-xs lg:text-sm mb-1 sm:mb-3" routerLink='/'>Về chúng tôi</span>
      <span class="cursor-pointer hover:text-primary text-xs lg:text-sm mb-1 sm:mb-3" routerLink='/'>Liên hệ</span>
      <span class="cursor-pointer hover:text-primary text-xs lg:text-sm mb-1 sm:mb-3" routerLink='/'>Hỏi đáp</span>
      <span class="cursor-pointer hover:text-primary text-xs lg:text-sm" routerLink='/'>Tin tức</span>
  </div>
  <div class='col-12 sm:col-2 flex flex-column'>
    <div class='title text-base lg:text-xl text-primary mb-1 sm:mb-3'>Giải pháp</div>
      <span class="cursor-pointer hover:text-primary text-xs lg:text-sm mb-1 sm:mb-3" routerLink='/'>Kết nối</span>
      <span class="cursor-pointer hover:text-primary text-xs lg:text-sm mb-1 sm:mb-3" routerLink='/'>Đào tạo</span>
      <span class="cursor-pointer hover:text-primary text-xs lg:text-sm mb-1 sm:mb-3" routerLink='/'>Biểu phí</span>
      <span class="cursor-pointer hover:text-primary text-xs lg:text-sm mb-1 sm:mb-3" routerLink='/'>Cộng đồng</span>
      <span class="cursor-pointer hover:text-primary text-xs lg:text-sm" routerLink='/'>Cộng tác viên</span>
  </div>
  <div class='col-12 sm:col-2 flex flex-column'>
    <div class='title text-base lg:text-xl text-primary mb-1 sm:mb-3'>Pháp lý</div>
      <span class="cursor-pointer hover:text-primary text-xs lg:text-sm mb-1 sm:mb-3" routerLink='/'>Điều khoản sử dụng</span>
      <span class="cursor-pointer hover:text-primary text-xs lg:text-sm" routerLink='/'>Chính sách bảo mật</span>
  </div>
  <div class='col-12 sm:col-2'>
    <div class='title text-base lg:text-xl text-primary mb-1 sm:mb-3'>Theo dõi chúng tôi</div>

      <div id='iconDiv'>
          <span class="cursor-pointer mr-3" routerLink='/'><img src="../../../../assets/img/facebook.png"alt='' width='25px' height='25px' /></span>
          <!-- <span class="cursor-pointer mr-3" routerLink='/'><img src="../../../../assets/img/tik-tok.png" alt='' width='25px' height='25px'/></span> -->
          <span class="cursor-pointer mr-3" routerLink='/'><img src="../../../../assets/img/youtube.png" alt='' width='25px' height='25px'/></span>
          <span class="cursor-pointer mr-3" routerLink='/'><img src="../../../../assets/img/twitter.png" alt='' width='25px' height='25px'/></span>
          <span class="cursor-pointer mr-3" routerLink='/'><img src="../../../../assets/img/linkedin.png" alt='' width='25px' height='25px'/></span>
      </div>
  </div>
</div>
