<div class='founderConnect'>
  <div class='background'></div>
  <div class='content'>
      <img src="../../../../assets/img/nmh.png" alt='' />
      <h1>{{name}}</h1>
      <p>Có thể bạn đã biết: Ấn tượng ban đầu có ý nghĩa quyết định sự thành bại của cuộc giao tiếp.</p>
      <textarea [rows]="5" [cols]="30" pInputTextarea [autoResize]="false"></textarea>
      <div class='buttonDiv'>
          <button class='cancel' >Huỷ bỏ</button>
          <button class='send'>Gửi lời mời</button>
      </div>
  </div>
</div>
