<p-dialog [resizable]="true" header="Tạo nhóm chat" [(visible)]="visible" [modal]="true" [style]="{width: '99vw'}"
  [baseZIndex]="10000" [draggable]="false" (onHide)="leave()">
  <div class="grid p-fluid">
    <div class="col-6" style="height: 620px;" #localPlayerContainer></div>
    <div class="col-6" style="height: 620px;" #remotePlayerContainer></div>
  </div>
  <ng-template pTemplate="footer">
    <p-button label="Join" class="p-button-success" (onClick)="join()"></p-button>
  </ng-template>
</p-dialog>
