.file-item{
  margin-top: 7px;
  padding: 0px 15px;
  border: 1px solid #ccc;
  border-radius: 4px;
  height: 55px;
}

.file-item button{
  top: 3px;
  right: 3px;
}

.file-item p,h1,h2,h3,h4,h5,h6{
  margin: 2px;
  width: 95%;
  white-space: nowrap;
  overflow: hidden;
}

.p-chips {
  display: flex !important;
  width: 100% !important;
}
.p-chips .p-chips-multiple-container {
  width: 100% !important;
}

.p-chips .p-chips-multiple-container .p-chips-input-token {
  padding: 0;
}
.p-chips .p-chips-multiple-container .p-chips-token {
  padding: 0.1rem 0.5rem;
}