/* @import './../node_modules/primeicons/primeicons.css';
@import './../node_modules/primeng/resources/themes/nova-light/theme.css';
@import './../node_modules/primeng/resources/primeng.min.css'; */

@font-face {
  font-family: 'NotosansBold';
  src: url('./assets/font/notosans-bold.3ede5aff.woff2') format('woff2');
}

@font-face {
  font-family: 'NotosansItalic';
  src: url('./assets/font/notosans-italic.1c1aaac9.woff2') format('woff2');
}

@font-face {
  font-family: 'NotosansRegular';
  src: url('./assets/font/notosans-regular.2cb88a13.woff2') format('woff2');
}

@font-face {
  font-family: 'NotosansSemibold';
  src: url('./assets/font/notosans-semibold.df3e6dc4.woff2') format('woff2');
}

::-webkit-scrollbar {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-thumb {
  background-color: #b8bcc3;
  border-radius: 10px;
}


::-webkit-scrollbar-thumb:hover {
  background-color: #ababab
}
::-webkit-scrollbar-track {
  border-radius: 10px;
}

::-webkit-scrollbar:horizontal {
  height: 10px;
  width: 10px;
}

::-webkit-scrollbar-thumb:horizontal {
  background-color: #b8bcc3;
  border-radius: 10px;
}


::-webkit-scrollbar-thumb:horizontal:hover {
  background-color: #ababab
}
::-webkit-scrollbar-track:horizontal {
  border-radius: 10px;
}

body {
  margin: 0;
  padding: 0;
  width: 100vw - 15px;
  height: 100vh;
  font-family: NotosansRegular;
  color: #212121;
  font-size: 14px;
}

* {
  box-sizing: border-box !important;
}


.p-speeddial.p-component.p-speeddial-linear.p-speeddial-direction-down {
  position: fixed !important;
  top: 7px !important;
  right: 6px !important;
}

button.p-element.p-ripple.p-speeddial-button.p-button-rounded.p-speeddial-rotate.p-button.p-component.p-button-icon-only {
  width: 44px !important;
  height: 44px !important;
}

/* div.p-dialog-content{
  overflow: visible !important;
} */


.hieunv-item-detail p, h4 {
  margin: 2px !important;
}

/*
.p-accordion-tab.p-accordion-tab-active .p-toggleable-content.ng-trigger.ng-trigger-tabContent{
  overflow: visible !important;
} */


a {
  text-decoration: none !important;
}

.search_table {
  width: 100%;
  padding: 15px;
  margin: 0 auto 20px auto;
  background: #FFFFFF;
  border: 1px solid #e3e2ea;
  border-radius: 10px;
}
.search_table .form-group,
.search_table .btn-group {
  margin-bottom: 0;
}
.search_table .form-control {
  min-height: 36px;
  padding: 3px 0.75rem;
}

.search {
  display: flex;
  flex-direction: row;
  align-items: center;
  column-gap: 8%;
  height: 7rem;
  padding-left: 20px;
  justify-content: space-between;
}

.search h1 {
  font-weight: 700;
  font-size: 2.3rem;
}


.search .p-inputtext {
  width: 600px !important;
}

.filter-box {
  padding: 20px;
  margin-left: 20px;
  width: 285px !important;
}


.body-content {
  background-color: #F3F4F6;
  padding: 20px;
}

.list-data {
  width: calc(100% - 285px) !important;
  padding: 15px !important;
}

label.title {
  display: flex !important;
}

app-project-for-startuper p-dropdown .p-dropdown.p-component {
  width: 100% !important;
}

app-project-for-startuper .p-multiselect.p-component {
  width: 100% !important;
}

app-history-search p-dropdown .p-dropdown.p-component {
  width: 100% !important;
}

app-history-search .p-multiselect.p-component {
  width: 100% !important;
}

app-startuper-for-startuper p-dropdown .p-dropdown.p-component {
  width: 100% !important;
}

app-startuper-for-startuper .p-multiselect.p-component {
  width: 100% !important;
}

app-admin p-dropdown .p-dropdown.p-component {
  width: 100% !important;
}

app-admin .p-multiselect.p-component {
  width: 100% !important;
}


.p-galleria .p-galleria-thumbnail-container {
  background-color: #3B82F6 !important;
  padding: 4px !important;
}



app-startuper-for-startuper .p-cascadeselect.p-component {
  width: 100% !important;
}

.p-fluid.grid .p-field {
  margin-top: 15px !important;
}


.p-disabled, .p-component:disabled{
  opacity: 1 !important;
}


.emoji-mart-anchors{
  display: none !important;
}

.text-error{
  font-size: 13px;
  color: red;
}


app-work-history-summary .p-card{
  width: 100% !important;
}

app-work-history-summary .p-card-body{
  padding: 7px !important;
  border: 1px solid #ced4dd !important;
  border-radius: 4px !important;
}

app-work-history-summary .p-card-content{
  padding: 0px !important;
}