.user-item{
  margin-top: 7px;
  padding: 0px 15px;
  cursor: pointer;
  border: 1px solid #ccc;
  border-radius: 4px;
}
.user-item:hover{
  background-color: #ddd;
}

.list-member{
  border-top: 1px solid #c9c9c9;
}
