<p-dialog
  [resizable]="true"
  header="Gửi lời mời kết nối"
  [(visible)]="display"
  [modal]="true"
  [style]="styleDialog"
  [baseZIndex]="10000"
  [draggable]="false"
  (onHide)="close.emit()"
>
  <form [formGroup]="formConnect">
    <div class="p-fluid grid">
      <p>
        Ấn tượng ban đầu rất quan trọng, hãy gửi một lời chào thân thiện đến đối
        tác tương lai của bạn. Hãy nhớ rằng chân thành là bí quyết thành công
        của mọi cuộc giao tiếp.
      </p>
      <div class="p-field col-12 md-12">
        <p-dropdown
          [filter]="true"
          [style]="{ width: '100%' }"
          [autoDisplayFirst]="false"
          formControlName="suggestOpen"
          [options]="suggestOpen"
          optionLabel="name"
          optionValue="value"
          placeholder="Lời mở đầu gợi ý"
          (onChange)="changeContent()"
        ></p-dropdown>
      </div>
      <div class="p-field col-12 md-12">
        <p-dropdown
          [filter]="true"
          [style]="{ width: '100%' }"
          [autoDisplayFirst]="false"
          formControlName="suggestContent"
          [options]="suggestContent"
          optionLabel="name"
          optionValue="value"
          placeholder="Nội dung gợi ý"
          (onChange)="changeContent()"
        ></p-dropdown>
      </div>
      <div class="p-field col-12 md-12">
        <p-dropdown
          [filter]="true"
          [style]="{ width: '100%' }"
          [autoDisplayFirst]="false"
          formControlName="suggestEnd"
          [options]="suggestEnd"
          optionLabel="name"
          optionValue="value"
          placeholder="Lời kết gợi ý"
          (onChange)="changeContent()"
        ></p-dropdown>
      </div>
      <div class="col-12">
        <p-editor
          [(ngModel)]="formConnect.value.content"
          [style]="{ height: '200px' }"
          formControlName="content"
          placeholder="Hoặc bạn có thể tự nói lên suy nghĩ của riêng mình..."
        >
          <ng-template pTemplate="header">
            <span class="ql-formats">
              <select class="ql-font"></select>
              <select class="ql-size"></select>
            </span>
            <span class="ql-formats">
              <button class="ql-bold"></button>
              <button class="ql-italic"></button>
              <button class="ql-underline"></button>
              <button class="ql-strike"></button>
            </span>
            <span class="ql-formats">
              <select class="ql-color"></select>
              <select class="ql-background"></select>
            </span>
            <span class="ql-formats">
              <button class="ql-header" value="1"></button>
              <button class="ql-header" value="2"></button>
              <button class="ql-blockquote"></button>
              <button class="ql-code-block"></button>
            </span>
            <span class="ql-formats">
              <button class="ql-list" value="ordered"></button>
              <button class="ql-list" value="bullet"></button>
              <button class="ql-indent" value="-1"></button>
              <button class="ql-indent" value="+1"></button>
            </span>
            <span class="ql-formats">
              <select class="ql-align"></select>
            </span>
          </ng-template>
        </p-editor>
      </div>
    </div>
  </form>
  <div class="flex justify-content-center flex-wrap mt-3">
    <p-button
      class="mr-2"
      label="Hủy bỏ"
      [style]="{
        backgroundColor: 'white',
        color: 'black',
        borderRadius: '17px'
      }"
      (onClick)="close.emit()"
    ></p-button>
    <p-button
      [style]="{ backgroundColor: '#01A9FF', borderRadius: '17px' }"
      label="Hoàn tất"
      (onClick)="requestConnect.emit()"
    ></p-button>
  </div>
</p-dialog>
