<p-dialog
  [resizable]="true"
  header="Gửi lời mời kết nối"
  [(visible)]="display"
  [modal]="true"
  [style]="styleDialog"
  [baseZIndex]="10000"
  [draggable]="false"
  (onHide)="close.emit()"
>
  <form [formGroup]="formConnect">
    <div class="p-fluid grid">
      <p>
        Ấn tượng ban đầu rất quan trọng, hãy gửi một lời chào thân thiện đến đối
        tác tương lai của bạn. Hãy nhớ rằng chân thành là bí quyết thành công
        của mọi cuộc giao tiếp.
      </p>
      <div class="p-field col-12 md-12">
        <p-dropdown
          [filter]="true"
          [style]="{ width: '100%' }"
          [autoDisplayFirst]="false"
          formControlName="suggestOpen"
          [options]="suggestOpen"
          optionLabel="name"
          optionValue="value"
          placeholder="Lời mở đầu gợi ý"
          (onChange)="changeContent()"
        ></p-dropdown>
      </div>
      <div class="p-field col-12 md-12">
        <p-dropdown
          [filter]="true"
          [style]="{ width: '100%' }"
          [autoDisplayFirst]="false"
          formControlName="suggestContent"
          [options]="suggestContent"
          optionLabel="name"
          optionValue="value"
          placeholder="Nội dung gợi ý"
          (onChange)="changeContent()"
        ></p-dropdown>
      </div>
      <div class="p-field col-12 md-12">
        <p-dropdown
          [filter]="true"
          [style]="{ width: '100%' }"
          [autoDisplayFirst]="false"
          formControlName="suggestEnd"
          [options]="suggestEnd"
          optionLabel="name"
          optionValue="value"
          placeholder="Lời kết gợi ý"
          (onChange)="changeContent()"
        ></p-dropdown>
      </div>
      <div class="col-12">
        <textarea
          style="padding-left: 0.75rem !important"
          [(ngModel)]="formConnect.value.content"
          [rows]="5"
          [maxlength]="150"
          pInputTextarea
          placeholder="Hoặc bạn có thể tự nói lên suy nghĩ của riêng mình..."
          formControlName="content"
        ></textarea>
      </div>
    </div>
  </form>
  <div class="flex justify-content-center flex-wrap mt-3">
    <p-button
      class="mr-2"
      label="Hủy bỏ"
      [style]="{
        backgroundColor: 'white',
        color: 'black',
        borderRadius: '17px'
      }"
      (onClick)="close.emit()"
    ></p-button>
    <p-button
      [style]="{ backgroundColor: '#01A9FF', borderRadius: '17px' }"
      label="Hoàn tất"
      (onClick)="requestConnect.emit()"
    ></p-button>
  </div>
</p-dialog>
